Repository Delta-Icons/android, pull requests merged in 2023-09, with the labels that each got.

#671 Added Icons for Color Harmony, Color Picker, and NBE Mobile
  resources/new_icons.yaml
  resources/utilities/icons/color_harmony.png
  resources/utilities/icons/color_harmony.svg
  resources/utilities/icons/color_picker.png
  resources/utilities/icons/color_picker.svg
  resources/utilities/icons/nbe_mobile.png
  resources/utilities/icons/nbe_mobile.svg
Labels: icons, compinfos

#674 Added 4 Icons
  resources/new_icons.yaml
  resources/utilities/icons/abattery.png
  resources/utilities/icons/abattery.svg
  resources/utilities/icons/capacities.png
  resources/utilities/icons/capacities.svg
  resources/utilities/icons/innbucks.png
  resources/utilities/icons/innbucks.svg
  resources/utilities/icons/ox_shell.png
  resources/utilities/icons/ox_shell.svg
Labels: icons, compinfos

#675 add appfilter for com.nexon.bluearchiveone(Blue Archive KR One Store version)&termux:widget, add icon for termux:X11
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/termux_x11.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/termux_x11.svg
Labels: icons, compinfos

#677 add icon for Tmoney
  resources/new_icons.yaml
  resources/utilities/icons/tmoney.png
  resources/utilities/icons/tmoney.svg
Labels: icons, compinfos

#678 Link MyToyota App
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#679 Add 2 icons, update 1 component
  resources/new_icons.yaml
  resources/utilities/icons/rabbit_rewards.png
  resources/utilities/icons/rabbit_rewards.svg
  resources/utilities/icons/stately.png
  resources/utilities/icons/stately.svg
Labels: icons, compinfos

#680 Added 6 Icons
  resources/new_icons.yaml
  resources/utilities/icons/amplenote.png
  resources/utilities/icons/amplenote.svg
  resources/utilities/icons/prolauncher.png
  resources/utilities/icons/prolauncher.svg
  resources/utilities/icons/takka.png
  resources/utilities/icons/takka.svg
  resources/utilities/icons/talk_to_myself.png
  resources/utilities/icons/talk_to_myself.svg
  resources/utilities/icons/valu.png
  resources/utilities/icons/valu.svg
  resources/utilities/icons/yalla.png
  resources/utilities/icons/yalla.svg
Labels: icons, compinfos

#681 Added 8 Icons
  resources/new_icons.yaml
  resources/utilities/icons/abwaab.png
  resources/utilities/icons/abwaab.svg
  resources/utilities/icons/aladwaa.png
  resources/utilities/icons/aladwaa.svg
  resources/utilities/icons/halan.png
  resources/utilities/icons/halan.svg
  resources/utilities/icons/money_fellows.png
  resources/utilities/icons/money_fellows.svg
  resources/utilities/icons/souhoola.png
  resources/utilities/icons/souhoola.svg
  resources/utilities/icons/thndr.png
  resources/utilities/icons/thndr.svg
  resources/utilities/icons/town_team.png
  resources/utilities/icons/town_team.svg
  resources/utilities/icons/zamerican_english.png
  resources/utilities/icons/zamerican_english.svg
Labels: icons, compinfos

#682 Added Pixel Search, Added ComponentInfo for Goodreads
  resources/new_icons.yaml
  resources/utilities/icons/pixel_search.png
  resources/utilities/icons/pixel_search.svg
Labels: icons, compinfos

#683 Added 4 Icons
  resources/new_icons.yaml
  resources/utilities/icons/abjjad.png
  resources/utilities/icons/abjjad.svg
  resources/utilities/icons/mantooq.png
  resources/utilities/icons/mantooq.svg
  resources/utilities/icons/phonemes.png
  resources/utilities/icons/phonemes.svg
  resources/utilities/icons/swipewipe.png
  resources/utilities/icons/swipewipe.svg
Labels: icons, compinfos

#684 Add icons + updated components
  resources/new_icons.yaml
  resources/utilities/icons/icsx5.png
  resources/utilities/icons/icsx5.svg
  resources/utilities/icons/transmission.png
  resources/utilities/icons/transmission.svg
Labels: icons, compinfos

#687 many things
  app/build.gradle
  app/src/foss/java/website/leifs/delta/applications/CandyBar.java
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/ic_home_header.png
  app/src/main/res/drawable-nodpi/ic_home_header_stock.png
  app/src/main/res/values/dashboard_configurations.xml
  app/src/main/res/xml/contributors.xml
  app/src/main/res/xml/drawable.xml
  app/src/play/java/website/leifs/delta/applications/CandyBar.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  resources/new_icons.yaml
  resources/requests.txt
  resources/utilities/add_icons_wrapper.py
  resources/utilities/icons/forest_focus.png
  resources/utilities/icons/forest_focus.svg
  resources/utilities/icons/keepassdx_key_driver.png
  resources/utilities/icons/keepassdx_key_driver.svg
  resources/utilities/icons/keepassdx_unlocker.png
  resources/utilities/icons/keepassdx_unlocker.svg
  resources/utilities/icons/windy_weather.png
  resources/utilities/icons/windy_weather.svg
Labels: icons, optimization, compinfos, misc
