Repository Delta-Icons/android, pull requests merged in 2023-07, with the labels that each got.

#653 Fix Flightradar24 icon link
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#656 bump deps versions, sync CandyBar changes
  .github/workflows/build_all.yml
  .github/workflows/build_foss.yml
  app/proguard-rules.pro
  app/src/foss/java/website/leifs/delta/applications/CandyBar.java
  app/src/play/java/website/leifs/delta/applications/CandyBar.java
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: optimization, misc

#657 Added an icon, updated ComponentInfo for another.
  resources/new_icons.yaml
  resources/utilities/icons/empty.png
  resources/utilities/icons/empty.svg
Labels: icons, compinfos

#658 Added 3 Icons, Updated 2
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/google_lens.png
  app/src/main/res/drawable-nodpi/google_lens_alt_1.png
  app/src/main/res/drawable-nodpi/samsung_health.png
  app/src/main/res/drawable-nodpi/samsung_health_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/instapay.png
  resources/utilities/icons/instapay.svg
  resources/utilities/icons/orange_money.png
  resources/utilities/icons/orange_money.svg
  resources/utilities/icons/pdb.png
  resources/utilities/icons/pdb.svg
  resources/vectors/figma/google_lens.svg
  resources/vectors/google_lens_alt_1.svg
  resources/vectors/samsung_health.svg
Labels: icons, compinfos

#659 Adding two new icons and updating one
  app/src/main/res/drawable-nodpi/tripcom.png
  resources/new_icons.yaml
  resources/requests.txt
  resources/utilities/icons/avensa_maps.png
  resources/utilities/icons/avensa_maps.svg
  resources/utilities/icons/guarda.png
  resources/utilities/icons/guarda.svg
  resources/vectors/tripcom.svg
Labels: icons, compinfos

#660 Add 4 icons, update 1 component
  resources/new_icons.yaml
  resources/utilities/icons/bartbonte_orange.png
  resources/utilities/icons/bartbonte_orange.svg
  resources/utilities/icons/divide.png
  resources/utilities/icons/divide.svg
  resources/utilities/icons/nabla_typemath.png
  resources/utilities/icons/nabla_typemath.svg
  resources/utilities/icons/savertuner.png
  resources/utilities/icons/savertuner.svg
Labels: icons, compinfos

#661 Added 3 Icons
  resources/new_icons.yaml
  resources/utilities/icons/dubizzle.png
  resources/utilities/icons/dubizzle.svg
  resources/utilities/icons/rgb_color_wallpaper.png
  resources/utilities/icons/rgb_color_wallpaper.svg
  resources/utilities/icons/swisscows.png
  resources/utilities/icons/swisscows.svg
Labels: icons, compinfos
