Repository Delta-Icons/android, pull requests merged in 2023-12, with the labels that each got.

#733 Add 9 new icons
  resources/new_icons.yaml
  resources/utilities/icons/tb_checker.png
  resources/utilities/icons/tb_checker.svg
  resources/utilities/icons/zmail_admin.png
  resources/utilities/icons/zmail_admin.svg
  resources/utilities/icons/zoho_books.png
  resources/utilities/icons/zoho_books.svg
  resources/utilities/icons/zoho_calendar.png
  resources/utilities/icons/zoho_calendar.svg
  resources/utilities/icons/zoho_cliq.png
  resources/utilities/icons/zoho_cliq.svg
  resources/utilities/icons/zoho_crm.png
  resources/utilities/icons/zoho_crm.svg
  resources/utilities/icons/zoho_invoice.png
  resources/utilities/icons/zoho_invoice.svg
  resources/utilities/icons/zoho_people.png
  resources/utilities/icons/zoho_people.svg
  resources/utilities/icons/zoho_projects.png
  resources/utilities/icons/zoho_projects.svg
Labels: icons, compinfos

#738 new stuff
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  resources/new_icons.yaml
  resources/utilities/icons/airlock.png
  resources/utilities/icons/airlock.svg
  resources/utilities/icons/amnezia_vpn.png
  resources/utilities/icons/amnezia_vpn.svg
  resources/utilities/icons/amnezia_vpn_alt_1.png
  resources/utilities/icons/amnezia_vpn_alt_1.svg
  resources/utilities/icons/biggby_coffee.png
  resources/utilities/icons/biggby_coffee.svg
  resources/utilities/icons/boxberry.png
  resources/utilities/icons/boxberry.svg
  resources/utilities/icons/call_a_bike.png
  resources/utilities/icons/call_a_bike.svg
  resources/utilities/icons/citilink.png
  resources/utilities/icons/citilink.svg
  resources/utilities/icons/cv_project.png
  resources/utilities/icons/cv_project.svg
  resources/utilities/icons/debitum.png
  resources/utilities/icons/debitum.svg
  resources/utilities/icons/gauguin.png
  resources/utilities/icons/gauguin.svg
  resources/utilities/icons/geev.png
  resources/utilities/icons/geev.svg
  resources/utilities/icons/jkopay.png
  resources/utilities/icons/jkopay.svg
  resources/utilities/icons/kb.png
  resources/utilities/icons/kb.svg
  resources/utilities/icons/my_banglalink.png
  resources/utilities/icons/my_banglalink.svg
  resources/utilities/icons/next_bank.png
  resources/utilities/icons/next_bank.svg
  resources/utilities/icons/nikon_snapbridge.png
  resources/utilities/icons/nikon_snapbridge.svg
  resources/utilities/icons/nyu_mobile.png
  resources/utilities/icons/nyu_mobile.svg
  resources/utilities/icons/petlibro.png
  resources/utilities/icons/petlibro.svg
  resources/utilities/icons/rutube.png
  resources/utilities/icons/rutube.svg
  resources/utilities/icons/stoloto.png
  resources/utilities/icons/stoloto.svg
  resources/utilities/icons/stone_story_rpg.png
  resources/utilities/icons/stone_story_rpg.svg
  resources/utilities/icons/tes_blades.png
  resources/utilities/icons/tes_blades.svg
  resources/utilities/icons/tyke_invest.png
  resources/utilities/icons/tyke_invest.svg
Labels: icons, compinfos

#739 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/adda247.png
  resources/utilities/icons/adda247.svg
  resources/utilities/icons/aldi_uk.png
  resources/utilities/icons/aldi_uk.svg
  resources/utilities/icons/anc.png
  resources/utilities/icons/anc.svg
  resources/utilities/icons/friends_delivery.png
  resources/utilities/icons/friends_delivery.svg
  resources/utilities/icons/hema.png
  resources/utilities/icons/hema.svg
  resources/utilities/icons/hse.png
  resources/utilities/icons/hse.svg
  resources/utilities/icons/mooda.png
  resources/utilities/icons/mooda.svg
  resources/utilities/icons/shikho.png
  resources/utilities/icons/shikho.svg
  resources/utilities/icons/shopeepay.png
  resources/utilities/icons/shopeepay.svg
  resources/utilities/icons/thermomix_cookidoo.png
  resources/utilities/icons/thermomix_cookidoo.svg
  resources/utilities/icons/tile_club.png
  resources/utilities/icons/tile_club.svg
  resources/utilities/icons/uds.png
  resources/utilities/icons/uds.svg
  resources/utilities/icons/vision_digital.png
  resources/utilities/icons/vision_digital.svg
  resources/utilities/icons/vpnarea.png
  resources/utilities/icons/vpnarea.svg
Labels: icons, compinfos

#741 Added 2 Icons, Added 2 ComponentInfo
  resources/new_icons.yaml
  resources/utilities/icons/beeper_mini.png
  resources/utilities/icons/beeper_mini.svg
  resources/utilities/icons/rez_launcher.png
  resources/utilities/icons/rez_launcher.svg
Labels: icons, compinfos

#742 new stuff
  app/src/main/res/drawable-nodpi/arattai.png
  app/src/main/res/drawable-nodpi/oneauth.png
  resources/new_icons.yaml
  resources/utilities/icons/zoho_assist_customer.png
  resources/utilities/icons/zoho_assist_customer.svg
  resources/utilities/icons/zoho_bigin.png
  resources/utilities/icons/zoho_bigin.svg
  resources/utilities/icons/zoho_billing.png
  resources/utilities/icons/zoho_billing.svg
  resources/utilities/icons/zoho_campaigns.png
  resources/utilities/icons/zoho_campaigns.svg
  resources/utilities/icons/zoho_creator.png
  resources/utilities/icons/zoho_creator.svg
  resources/utilities/icons/zoho_expense.png
  resources/utilities/icons/zoho_expense.svg
  resources/utilities/icons/zoho_forms.png
  resources/utilities/icons/zoho_forms.svg
  resources/utilities/icons/zoho_inventory.png
  resources/utilities/icons/zoho_inventory.svg
  resources/utilities/icons/zoho_learn.png
  resources/utilities/icons/zoho_learn.svg
  resources/utilities/icons/zoho_meeting.png
  resources/utilities/icons/zoho_meeting.svg
  resources/utilities/icons/zoho_payroll.png
  resources/utilities/icons/zoho_payroll.svg
  resources/utilities/icons/zoho_qntrl.png
  resources/utilities/icons/zoho_qntrl.svg
  resources/utilities/icons/zoho_sheet.png
  resources/utilities/icons/zoho_sheet.svg
  resources/utilities/icons/zoho_show.png
  resources/utilities/icons/zoho_show.svg
  resources/utilities/icons/zoho_social.png
  resources/utilities/icons/zoho_social.svg
  resources/utilities/icons/zoho_sprints.png
  resources/utilities/icons/zoho_sprints.svg
  resources/utilities/icons/zoho_teaminbox.png
  resources/utilities/icons/zoho_teaminbox.svg
  resources/utilities/icons/zoho_todo.png
  resources/utilities/icons/zoho_todo.svg
  resources/utilities/icons/zoho_vault.png
  resources/utilities/icons/zoho_vault.svg
  resources/utilities/icons/zoho_webinar.png
  resources/utilities/icons/zoho_webinar.svg
  resources/utilities/icons/zoho_writer.png
  resources/utilities/icons/zoho_writer.svg
  resources/vectors/arattai.svg
  resources/vectors/oneauth.svg
Labels: icons, compinfos

#744 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/atak.png
  resources/utilities/icons/atak.svg
  resources/utilities/icons/blood_strike.png
  resources/utilities/icons/blood_strike.svg
  resources/utilities/icons/ground_news.png
  resources/utilities/icons/ground_news.svg
  resources/utilities/icons/monster_hunter_now.png
  resources/utilities/icons/monster_hunter_now.svg
  resources/utilities/icons/skull_iq.png
  resources/utilities/icons/skull_iq.svg
Labels: icons, compinfos

#752 Add new icons
  resources/new_icons.yaml
  resources/utilities/icons/ather.png
  resources/utilities/icons/ather.svg
  resources/utilities/icons/cambly.png
  resources/utilities/icons/cambly.svg
  resources/utilities/icons/gpslogger.png
  resources/utilities/icons/gpslogger.svg
  resources/utilities/icons/hero_app.png
  resources/utilities/icons/hero_app.svg
  resources/utilities/icons/shopsy.png
  resources/utilities/icons/shopsy.svg
  resources/utilities/icons/tangedco.png
  resources/utilities/icons/tangedco.svg
  resources/utilities/icons/tnepds.png
  resources/utilities/icons/tnepds.svg
Labels: icons, compinfos

#756 Added 5 icons, updated 1 icon, added 1 CompInfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/bluesky.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/bluesky_alt_1.png
  resources/utilities/icons/bluesky_alt_1.svg
  resources/utilities/icons/keep_talking_and_nobody_explodes.png
  resources/utilities/icons/keep_talking_and_nobody_explodes.svg
  resources/utilities/icons/keep_talking_and_nobody_explodes_alt_1.png
  resources/utilities/icons/keep_talking_and_nobody_explodes_alt_1.svg
  resources/utilities/icons/no_relapse.png
  resources/utilities/icons/no_relapse.svg
  resources/utilities/icons/spin_browser.png
  resources/utilities/icons/spin_browser.svg
  resources/utilities/icons/supeco.png
  resources/utilities/icons/supeco.svg
  resources/utilities/icons/web_filter.png
  resources/utilities/icons/web_filter.svg
  resources/vectors/bluesky.svg
Labels: icons, compinfos

#755 Update icons & compinfos
  app/src/main/assets/appfilter.xml
  app/src/main/res/drawable-nodpi/chennai_bus.png
  app/src/main/res/drawable-nodpi/doc_scanner.png
  app/src/main/res/drawable-nodpi/tata_play.png
  app/src/main/res/xml/appfilter.xml
  resources/vectors/ather.svg
  resources/vectors/chennai_bus.svg
  resources/vectors/doc_scanner.svg
  resources/vectors/tata_play.svg
Labels: icons, compinfos

#757 new stuff
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/_4pda.png
  app/src/main/res/drawable-nodpi/alfa_bank.png
  app/src/main/res/drawable-nodpi/doc_scanner.png
  app/src/main/res/drawable-nodpi/f1_tv.png
  app/src/main/res/drawable-nodpi/formula_1.png
  app/src/main/res/drawable-nodpi/formula_1_alt_1.png
  app/src/main/res/drawable-nodpi/formula_1_tv.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/add_icons.py
  resources/utilities/icons/_4pda_green.png
  resources/utilities/icons/_4pda_green.svg
  resources/utilities/icons/alfa_invest.png
  resources/utilities/icons/alfa_invest.svg
  resources/utilities/icons/allinstruments.png
  resources/utilities/icons/allinstruments.svg
  resources/utilities/icons/ar_toolbox.png
  resources/utilities/icons/ar_toolbox.svg
  resources/utilities/icons/cosme.png
  resources/utilities/icons/cosme.svg
  resources/utilities/icons/dolyami.png
  resources/utilities/icons/dolyami.svg
  resources/utilities/icons/fonbet.png
  resources/utilities/icons/fonbet.svg
  resources/utilities/icons/helium_hotspot.png
  resources/utilities/icons/helium_hotspot.svg
  resources/utilities/icons/homewhiz.png
  resources/utilities/icons/homewhiz.svg
  resources/utilities/icons/katch.png
  resources/utilities/icons/katch.svg
  resources/utilities/icons/member_tools.png
  resources/utilities/icons/member_tools.svg
  resources/utilities/icons/mts_bank.png
  resources/utilities/icons/mts_bank.svg
  resources/utilities/icons/olive_young.png
  resources/utilities/icons/olive_young.svg
  resources/utilities/icons/olive_young_alt_1.png
  resources/utilities/icons/olive_young_alt_1.svg
  resources/utilities/icons/stori.png
  resources/utilities/icons/stori.svg
  resources/utilities/icons/tatl_school.png
  resources/utilities/icons/tatl_school.svg
  resources/utilities/icons/thermex_home.png
  resources/utilities/icons/thermex_home.svg
  resources/utilities/icons/tricolor.png
  resources/utilities/icons/tricolor.svg
  resources/vectors/_4pda.svg
  resources/vectors/alfa_bank.svg
  resources/vectors/doc_scanner.svg
  resources/vectors/f1_tv.svg
  resources/vectors/formula_1.svg
  resources/vectors/formula_1_alt_1.svg
  resources/vectors/formula_1_tv.svg
Labels: icons, compinfos, misc

#759 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/aqara_home.png
  resources/utilities/icons/aqara_home.svg
  resources/utilities/icons/consumers_credit_union.png
  resources/utilities/icons/consumers_credit_union.svg
  resources/utilities/icons/cpu_throttling_test.png
  resources/utilities/icons/cpu_throttling_test.svg
  resources/utilities/icons/mister_donut.png
  resources/utilities/icons/mister_donut.svg
  resources/utilities/icons/mountainwatch.png
  resources/utilities/icons/mountainwatch.svg
  resources/utilities/icons/nonograms_katana.png
  resources/utilities/icons/nonograms_katana.svg
  resources/utilities/icons/polregio.png
  resources/utilities/icons/polregio.svg
  resources/utilities/icons/shipt.png
  resources/utilities/icons/shipt.svg
  resources/utilities/icons/smart_bper_card.png
  resources/utilities/icons/smart_bper_card.svg
Labels: icons, compinfos

#760 Add new icons
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  resources/new_icons.yaml
  resources/utilities/icons/backbone.png
  resources/utilities/icons/backbone.svg
  resources/utilities/icons/bitpanda.png
  resources/utilities/icons/bitpanda.svg
  resources/utilities/icons/chilis.png
  resources/utilities/icons/chilis.svg
  resources/utilities/icons/harley_davidson.png
  resources/utilities/icons/harley_davidson.svg
  resources/utilities/icons/hooters.png
  resources/utilities/icons/hooters.svg
  resources/utilities/icons/kvb_dlite.png
  resources/utilities/icons/kvb_dlite.svg
  resources/utilities/icons/manifold.png
  resources/utilities/icons/manifold.svg
  resources/utilities/icons/marks_and_spencer.png
  resources/utilities/icons/marks_and_spencer.svg
Labels: icons, compinfos

#763 Updated Oneplus Icon componentinfo
  resources/new_icons.yaml
Labels: compinfos

#764 new stuff
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/yandex_music_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/_433.png
  resources/utilities/icons/_433.svg
  resources/utilities/icons/ampol.png
  resources/utilities/icons/ampol.svg
  resources/utilities/icons/farout.png
  resources/utilities/icons/farout.svg
  resources/utilities/icons/thalia.png
  resources/utilities/icons/thalia.svg
  resources/utilities/icons/vacu.png
  resources/utilities/icons/vacu.svg
  resources/utilities/icons/yandex_music.png
  resources/utilities/icons/yandex_music.svg
  resources/vectors/yandex_music_alt_1.svg
Labels: icons, compinfos
