Repository Delta-Icons/android, pull requests merged in 2024-06, with the labels that each got.

#886 Added 5 Icons
  resources/new_icons.yaml
  resources/utilities/icons/blockit.png
  resources/utilities/icons/blockit.svg
  resources/utilities/icons/fontasy.png
  resources/utilities/icons/fontasy.svg
  resources/utilities/icons/randomizer.png
  resources/utilities/icons/randomizer.svg
  resources/utilities/icons/sa7wa.png
  resources/utilities/icons/sa7wa.svg
  resources/utilities/icons/spatial_touch.png
  resources/utilities/icons/spatial_touch.svg
Labels: icons

#885 AAMI icon + 3 updates
  resources/new_icons.yaml
  resources/utilities/icons/aami.png
  resources/utilities/icons/aami.svg
Labels: icons, compinfos

#887 add icons
  resources/new_icons.yaml
  resources/utilities/icons/c2_password.png
  resources/utilities/icons/c2_password.svg
  resources/utilities/icons/dropbox_passwords.png
  resources/utilities/icons/dropbox_passwords.svg
  resources/utilities/icons/easy_notes.png
  resources/utilities/icons/easy_notes.svg
  resources/utilities/icons/math_theory.png
  resources/utilities/icons/math_theory.svg
  resources/utilities/icons/minha_claro_movel.png
  resources/utilities/icons/minha_claro_movel.svg
  resources/utilities/icons/my_liverpool.png
  resources/utilities/icons/my_liverpool.svg
  resources/utilities/icons/myt_by_toyota.png
  resources/utilities/icons/myt_by_toyota.svg
  resources/utilities/icons/omni.png
  resources/utilities/icons/omni.svg
  resources/utilities/icons/onekeepass.png
  resources/utilities/icons/onekeepass.svg
  resources/utilities/icons/pilltime.png
  resources/utilities/icons/pilltime.svg
  resources/utilities/icons/robosats.png
  resources/utilities/icons/robosats.svg
  resources/utilities/icons/weebly.png
  resources/utilities/icons/weebly.svg
Labels: icons

#889 add some stuff
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/battery_guru.png
  app/src/main/res/drawable-nodpi/battery_guru_alt_1.png
  app/src/main/res/drawable-nodpi/discord_bunny_alt_1.png
  app/src/main/res/drawable-nodpi/molotov_tv.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/meditrack.png
  resources/utilities/icons/meditrack.svg
  resources/vectors/battery_guru.svg
  resources/vectors/discord_bunny_alt_1.svg
  resources/vectors/molotov_tv.svg
Labels: icons, compinfos

#891 Added 2 Icons + 1 CompInfo
  resources/new_icons.yaml
  resources/utilities/icons/cara.png
  resources/utilities/icons/cara.svg
  resources/utilities/icons/instashop.png
  resources/utilities/icons/instashop.svg
Labels: icons, compinfos

#892 Added 4 Icons
  resources/new_icons.yaml
  resources/utilities/icons/chmate.png
  resources/utilities/icons/chmate.svg
  resources/utilities/icons/concordia.png
  resources/utilities/icons/concordia.svg
  resources/utilities/icons/harbor.png
  resources/utilities/icons/harbor.svg
  resources/utilities/icons/smart_pianist.png
  resources/utilities/icons/smart_pianist.svg
Labels: icons

#893 Add AGL icon
  resources/new_icons.yaml
  resources/utilities/icons/agl.png
  resources/utilities/icons/agl.svg
Labels: icons

#894 add icons&componentinfo
  resources/new_icons.yaml
  resources/utilities/icons/floating_timer.png
  resources/utilities/icons/floating_timer.svg
  resources/utilities/icons/gpay_business.png
  resources/utilities/icons/gpay_business.svg
  resources/utilities/icons/oss_card_wallet.png
  resources/utilities/icons/oss_card_wallet.svg
  resources/utilities/icons/play_notepad.png
  resources/utilities/icons/play_notepad.svg
  resources/utilities/icons/runnerup.png
  resources/utilities/icons/runnerup.svg
  resources/utilities/icons/sdai_foss.png
  resources/utilities/icons/sdai_foss.svg
  resources/utilities/icons/simple_search.png
  resources/utilities/icons/simple_search.svg
Labels: icons, compinfos

#895 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/apteka_ru.png
  resources/utilities/icons/apteka_ru.svg
  resources/utilities/icons/runescape.png
  resources/utilities/icons/runescape.svg
  resources/utilities/icons/sanskrit.png
  resources/utilities/icons/sanskrit.svg
Labels: icons, compinfos

#896 add icons&componentinfo
  resources/new_icons.yaml
  resources/utilities/icons/agorae.png
  resources/utilities/icons/agorae.svg
  resources/utilities/icons/calgary_stampede.png
  resources/utilities/icons/calgary_stampede.svg
  resources/utilities/icons/canadas_outdoor_farm_show.png
  resources/utilities/icons/canadas_outdoor_farm_show.svg
  resources/utilities/icons/familysearch_tree.png
  resources/utilities/icons/familysearch_tree.svg
  resources/utilities/icons/memories.png
  resources/utilities/icons/memories.svg
  resources/utilities/icons/rtranslator.png
  resources/utilities/icons/rtranslator.svg
  resources/utilities/icons/scroll_block.png
  resources/utilities/icons/scroll_block.svg
  resources/utilities/icons/thefor_habit_tracker.png
  resources/utilities/icons/thefor_habit_tracker.svg
  resources/utilities/icons/yosu.png
  resources/utilities/icons/yosu.svg
Labels: icons, compinfos

#897 Update candybar&candybar-foss to 3.20.0
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/res/values/dashboard_configurations.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: misc
