Repository Delta-Icons/android, pull requests merged in 2024-05, with the labels that each got.

#864 Add "Geoportail" icon
  resources/new_icons.yaml
  resources/utilities/icons/geoportail.png
  resources/utilities/icons/geoportail.svg
Labels: icons

#865 add icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/aves_gallery.png
  app/src/main/res/drawable-nodpi/aves_gallery_alt_1.png
  app/src/main/res/drawable-nodpi/aves_gallery_alt_2.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/abillion.png
  resources/utilities/icons/abillion.svg
  resources/utilities/icons/algeo.png
  resources/utilities/icons/algeo.svg
  resources/utilities/icons/blink_captions.png
  resources/utilities/icons/blink_captions.svg
  resources/utilities/icons/goodlife_fitness.png
  resources/utilities/icons/goodlife_fitness.svg
  resources/utilities/icons/heavypaint.png
  resources/utilities/icons/heavypaint.svg
  resources/utilities/icons/idle_game_1.png
  resources/utilities/icons/idle_game_1.svg
  resources/utilities/icons/invitation_maker.png
  resources/utilities/icons/invitation_maker.svg
  resources/utilities/icons/kinnu.png
  resources/utilities/icons/kinnu.svg
  resources/utilities/icons/line_pay.png
  resources/utilities/icons/line_pay.svg
  resources/utilities/icons/picturethis.png
  resources/utilities/icons/picturethis.svg
  resources/utilities/icons/radiate.png
  resources/utilities/icons/radiate.svg
  resources/vectors/aves_gallery.svg
  resources/vectors/aves_gallery_alt_1.svg
  resources/vectors/aves_gallery_alt_2.svg
Labels: icons

#866 new stuff
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/tinkoff.png
  app/src/main/res/drawable-nodpi/tinkoff_alt_3.png
  app/src/main/res/drawable-nodpi/tinkoff_invest.png
  app/src/main/res/drawable-nodpi/tinkoff_invest_alt_2.png
  app/src/main/res/drawable-nodpi/tinkoff_mobile.png
  app/src/main/res/drawable-nodpi/tinkoff_mobile_alt_2.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/comic_geeks.png
  resources/utilities/icons/comic_geeks.svg
  resources/utilities/icons/dellin.png
  resources/utilities/icons/dellin.svg
  resources/utilities/icons/okko.png
  resources/utilities/icons/okko.svg
  resources/utilities/icons/positional_simple.png
  resources/utilities/icons/positional_simple.svg
  resources/utilities/icons/tinkoff_agent.png
  resources/utilities/icons/tinkoff_agent.svg
  resources/utilities/icons/tinkoff_business.png
  resources/utilities/icons/tinkoff_business.svg
  resources/utilities/icons/tinkoff_work.png
  resources/utilities/icons/tinkoff_work.svg
  resources/vectors/tinkoff.svg
  resources/vectors/tinkoff_alt_3.svg
  resources/vectors/tinkoff_invest.svg
  resources/vectors/tinkoff_invest_alt_2.svg
  resources/vectors/tinkoff_mobile.svg
  resources/vectors/tinkoff_mobile_alt_2.svg
Labels: icons, compinfos

#867 add icons, componentinfo & update icons
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/microg.png
  app/src/main/res/drawable-nodpi/microg_alt_1.png
  app/src/main/res/drawable-nodpi/microg_settings.png
  app/src/main/res/drawable-nodpi/microg_settings_alt_1.png
  app/src/main/res/drawable-nodpi/wa_mods.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/bunny_manager.png
  resources/utilities/icons/bunny_manager.svg
  resources/utilities/icons/karma_firewall.png
  resources/utilities/icons/karma_firewall.svg
  resources/utilities/icons/kitsune.png
  resources/utilities/icons/kitsune.svg
  resources/utilities/icons/sms_forwarder.png
  resources/utilities/icons/sms_forwarder.svg
  resources/vectors/microg.svg
  resources/vectors/microg_alt_1.svg
  resources/vectors/microg_settings.svg
  resources/vectors/microg_settings_alt_1.svg
  resources/vectors/wa_mods.svg
Labels: icons, compinfos

#868 add icons & componentinfo
  resources/new_icons.yaml
  resources/utilities/icons/epic_pay.png
  resources/utilities/icons/epic_pay.svg
  resources/utilities/icons/feeder_co.png
  resources/utilities/icons/feeder_co.svg
  resources/utilities/icons/flashdim.png
  resources/utilities/icons/flashdim.svg
  resources/utilities/icons/giallo_zafferano.png
  resources/utilities/icons/giallo_zafferano.svg
  resources/utilities/icons/mountain_project.png
  resources/utilities/icons/mountain_project.svg
  resources/utilities/icons/network_speed_test.png
  resources/utilities/icons/network_speed_test.svg
  resources/utilities/icons/op_autoclicker.png
  resources/utilities/icons/op_autoclicker.svg
  resources/utilities/icons/seedvault.png
  resources/utilities/icons/seedvault.svg
  resources/utilities/icons/service_now_agent.png
  resources/utilities/icons/service_now_agent.svg
  resources/utilities/icons/stack_duo.png
  resources/utilities/icons/stack_duo.svg
  resources/utilities/icons/the_space_cinema.png
  resources/utilities/icons/the_space_cinema.svg
  resources/utilities/icons/threema_on_prem.png
  resources/utilities/icons/threema_on_prem.svg
Labels: icons, compinfos

#869 add icons&componentinfo by Ambi on Discord
  resources/new_icons.yaml
  resources/utilities/icons/pulse_by_zerodha.png
  resources/utilities/icons/pulse_by_zerodha.svg
  resources/utilities/icons/varsity.png
  resources/utilities/icons/varsity.svg
Labels: icons, compinfos

#870 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/chestny_znak.png
  resources/utilities/icons/chestny_znak.svg
  resources/utilities/icons/disroot.png
  resources/utilities/icons/disroot.svg
  resources/utilities/icons/gold_apple.png
  resources/utilities/icons/gold_apple.svg
  resources/utilities/icons/novikombank.png
  resources/utilities/icons/novikombank.svg
  resources/utilities/icons/ozon_bank.png
  resources/utilities/icons/ozon_bank.svg
Labels: icons, compinfos

#871 add icons&componentinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/owndroid.png
  app/src/main/res/drawable-nodpi/washington_post.png
  app/src/main/res/drawable-nodpi/washington_post_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/bitwarden_authenticator.png
  resources/utilities/icons/bitwarden_authenticator.svg
  resources/utilities/icons/cofi.png
  resources/utilities/icons/cofi.svg
  resources/utilities/icons/essential_meditation.png
  resources/utilities/icons/essential_meditation.svg
  resources/utilities/icons/hunch.png
  resources/utilities/icons/hunch.svg
  resources/utilities/icons/kenko.png
  resources/utilities/icons/kenko.svg
  resources/utilities/icons/materialious.png
  resources/utilities/icons/materialious.svg
  resources/utilities/icons/raccoon_for_lemmy.png
  resources/utilities/icons/raccoon_for_lemmy.svg
  resources/utilities/icons/simple_reboot.png
  resources/utilities/icons/simple_reboot.svg
  resources/vectors/figma/washington_post_alt_1.svg
  resources/vectors/owndroid.svg
  resources/vectors/washington_post.svg
Labels: icons, compinfos

#872 Add icon & Update ComponentInfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  resources/new_icons.yaml
  resources/utilities/icons/familymart.png
  resources/utilities/icons/familymart.svg
  resources/utilities/icons/milktea.png
  resources/utilities/icons/milktea.svg
  resources/utilities/icons/nowplaying4droid.png
  resources/utilities/icons/nowplaying4droid.svg
  resources/utilities/icons/nuro_mobile.png
  resources/utilities/icons/nuro_mobile.svg
  resources/utilities/icons/playbook.png
  resources/utilities/icons/playbook.svg
  resources/utilities/icons/zandaka_kakunin.png
  resources/utilities/icons/zandaka_kakunin.svg
Labels: icons, compinfos

#873 add telegram channel, follow us!
  .github/README.md
  app/src/main/res/values/dashboard_configurations.xml
Labels: misc

#874 Added 3 Icons
  resources/new_icons.yaml
  resources/utilities/icons/appdrop.png
  resources/utilities/icons/appdrop.svg
  resources/utilities/icons/noterly.png
  resources/utilities/icons/noterly.svg
  resources/utilities/icons/screw_calculator.png
  resources/utilities/icons/screw_calculator.svg
Labels: icons

#876 new stuff
  resources/new_icons.yaml
Labels: compinfos

#878 add icons&componentinfo
  resources/new_icons.yaml
  resources/utilities/icons/alexandria.png
  resources/utilities/icons/alexandria.svg
  resources/utilities/icons/classeviva_famiglia.png
  resources/utilities/icons/classeviva_famiglia.svg
  resources/utilities/icons/crypto_id.png
  resources/utilities/icons/crypto_id.svg
  resources/utilities/icons/databag.png
  resources/utilities/icons/databag.svg
  resources/utilities/icons/fastscore.png
  resources/utilities/icons/fastscore.svg
  resources/utilities/icons/forkyz_scanner.png
  resources/utilities/icons/forkyz_scanner.svg
  resources/utilities/icons/k19_player.png
  resources/utilities/icons/k19_player.svg
  resources/utilities/icons/night_city_map.png
  resources/utilities/icons/night_city_map.svg
  resources/utilities/icons/omweather.png
  resources/utilities/icons/omweather.svg
  resources/utilities/icons/oshi_uploader.png
  resources/utilities/icons/oshi_uploader.svg
  resources/utilities/icons/portdroid.png
  resources/utilities/icons/portdroid.svg
  resources/utilities/icons/pulsar_foss.png
  resources/utilities/icons/pulsar_foss.svg
  resources/utilities/icons/quire.png
  resources/utilities/icons/quire.svg
  resources/utilities/icons/skiplagged.png
  resources/utilities/icons/skiplagged.svg
  resources/utilities/icons/spam_blocker.png
  resources/utilities/icons/spam_blocker.svg
  resources/utilities/icons/sshd4a.png
  resources/utilities/icons/sshd4a.svg
  resources/utilities/icons/tesco_grocery.png
  resources/utilities/icons/tesco_grocery.svg
Labels: icons, compinfos

#877 Add new ComponentInfo for Tailscale and Merlin
  resources/new_icons.yaml
Labels: compinfos

#879 Fix Fulguris, Obtainium and Tempo
  resources/new_icons.yaml
Labels: compinfos

#880 small fix
  resources/new_icons.yaml
  resources/utilities/icons/pulsar_foss.png
  resources/utilities/icons/pulsar_foss.svg
Labels: misc

#881 add icons
  resources/new_icons.yaml
  resources/utilities/icons/capturesposed.png
  resources/utilities/icons/capturesposed.svg
  resources/utilities/icons/crabhands.png
  resources/utilities/icons/crabhands.svg
  resources/utilities/icons/green_wallet_bitcoin.png
  resources/utilities/icons/green_wallet_bitcoin.svg
  resources/utilities/icons/labplus.png
  resources/utilities/icons/labplus.svg
  resources/utilities/icons/listenbrainz.png
  resources/utilities/icons/listenbrainz.svg
  resources/utilities/icons/mindfulness_meditation.png
  resources/utilities/icons/mindfulness_meditation.svg
  resources/utilities/icons/notifications_recovery.png
  resources/utilities/icons/notifications_recovery.svg
  resources/utilities/icons/password_monitor.png
  resources/utilities/icons/password_monitor.svg
Labels: icons

#882 add & update icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/gramophone.png
  app/src/main/res/drawable-nodpi/gramophone_alt_1.png
  app/src/main/res/drawable-nodpi/myfastweb.png
  app/src/main/res/drawable-nodpi/myfastweb_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/aimo.png
  resources/utilities/icons/aimo.svg
  resources/utilities/icons/billetera_santa_fe.png
  resources/utilities/icons/billetera_santa_fe.svg
  resources/utilities/icons/confirmtkt.png
  resources/utilities/icons/confirmtkt.svg
  resources/utilities/icons/desmos_scientific_calculator.png
  resources/utilities/icons/desmos_scientific_calculator.svg
  resources/utilities/icons/ebidfood.png
  resources/utilities/icons/ebidfood.svg
  resources/utilities/icons/egovph.png
  resources/utilities/icons/egovph.svg
  resources/utilities/icons/hwmonitor_pro.png
  resources/utilities/icons/hwmonitor_pro.svg
  resources/utilities/icons/imagesearchman.png
  resources/utilities/icons/imagesearchman.svg
  resources/utilities/icons/mackolik.png
  resources/utilities/icons/mackolik.svg
  resources/utilities/icons/morse_code.png
  resources/utilities/icons/morse_code.svg
  resources/utilities/icons/navimaps.png
  resources/utilities/icons/navimaps.svg
  resources/utilities/icons/netgear_mobile.png
  resources/utilities/icons/netgear_mobile.svg
  resources/utilities/icons/notification_light_for_samsung.png
  resources/utilities/icons/notification_light_for_samsung.svg
  resources/utilities/icons/paraphraser.png
  resources/utilities/icons/paraphraser.svg
  resources/utilities/icons/plant_care_reminder.png
  resources/utilities/icons/plant_care_reminder.svg
  resources/utilities/icons/rtl_travel_app.png
  resources/utilities/icons/rtl_travel_app.svg
  resources/utilities/icons/sram_axs.png
  resources/utilities/icons/sram_axs.svg
  resources/utilities/icons/uf_recposrts.png
  resources/utilities/icons/uf_recposrts.svg
  resources/vectors/gramophone.svg
  resources/vectors/gramophone_alt_1.svg
  resources/vectors/myfastweb.svg
  resources/vectors/myfastweb_alt_1.svg
Labels: icons

#883 add icons&componentinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/chestny_znak.png
  app/src/main/res/drawable-nodpi/disroot.png
  app/src/main/res/drawable-nodpi/tutanota.png
  app/src/main/res/drawable-nodpi/tutanota_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/fitbook.png
  resources/utilities/icons/fitbook.svg
  resources/utilities/icons/flicky_bee.png
  resources/utilities/icons/flicky_bee.svg
  resources/utilities/icons/material_photo_widget.png
  resources/utilities/icons/material_photo_widget.svg
  resources/utilities/icons/paperize.png
  resources/utilities/icons/paperize.svg
  resources/utilities/icons/pilipalax.png
  resources/utilities/icons/pilipalax.svg
  resources/utilities/icons/power_ampache_2.png
  resources/utilities/icons/power_ampache_2.svg
  resources/utilities/icons/soundtap.png
  resources/utilities/icons/soundtap.svg
  resources/utilities/icons/videos_foss.png
  resources/utilities/icons/videos_foss.svg
  resources/vectors/chestny_znak.svg
  resources/vectors/disroot.svg
  resources/vectors/tutanota.svg
  resources/vectors/tutanota_alt_1.svg
Labels: icons, compinfos
