Repository Delta-Icons/android, pull requests merged in 2024-10, with the labels that each got.

#970 add icons
  contribs/icons.yml
  contribs/icons/anytime_podcast.png
  contribs/icons/anytime_podcast.svg
  contribs/icons/exfilac.png
  contribs/icons/exfilac.svg
  contribs/icons/fediphoto.png
  contribs/icons/fediphoto.svg
  contribs/icons/firefly.png
  contribs/icons/firefly.svg
  contribs/icons/habsgleich.png
  contribs/icons/habsgleich.svg
  contribs/icons/infinilist.png
  contribs/icons/infinilist.svg
  contribs/icons/labnex.png
  contribs/icons/labnex.svg
  contribs/icons/lxreader.png
  contribs/icons/lxreader.svg
  contribs/icons/ridgescout.png
  contribs/icons/ridgescout.svg
  contribs/icons/tilde_friends.png
  contribs/icons/tilde_friends.svg
Labels: icons

#974 add icons&componentinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/mercado_pago.png
  app/src/main/res/drawable-nodpi/mercado_pago_alt_1.png
  app/src/main/res/drawable-nodpi/my__fitness__pal_alt_1.png
  app/src/main/res/drawable-nodpi/my_fitness_pal.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/app_verifier.png
  contribs/icons/app_verifier.svg
  contribs/icons/arc_search.png
  contribs/icons/arc_search.svg
  contribs/icons/azyx.png
  contribs/icons/azyx.svg
  contribs/icons/bcr_manager.png
  contribs/icons/bcr_manager.svg
  contribs/icons/blitz_ai.png
  contribs/icons/blitz_ai.svg
  contribs/icons/boorusama.png
  contribs/icons/boorusama.svg
  contribs/icons/discover_mobile.png
  contribs/icons/discover_mobile.svg
  contribs/icons/frontpage.png
  contribs/icons/frontpage.svg
  contribs/icons/goblin_tools.png
  contribs/icons/goblin_tools.svg
  contribs/icons/grammarly_ai_assistant.png
  contribs/icons/grammarly_ai_assistant.svg
  contribs/icons/lagrange.png
  contribs/icons/lagrange.svg
  contribs/icons/qubopro.png
  contribs/icons/qubopro.svg
  contribs/icons/suyu.png
  contribs/icons/suyu.svg
  contribs/icons/thunderbird.png
  contribs/icons/thunderbird.svg
  contribs/icons/tuta_calendar.png
  contribs/icons/tuta_calendar.svg
  resources/vectors/mercado_pago.svg
  resources/vectors/mercado_pago_alt_1.svg
  resources/vectors/my_fitness_pal.svg
Labels: icons, compinfos

#975 Add icon for UserTesting
  contribs/icons.yml
  contribs/icons/usertesting.png
  contribs/icons/usertesting.svg
Labels: icons

#976 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/medium.png
  app/src/main/res/drawable-nodpi/medium_alt_1.png
  app/src/main/res/drawable-nodpi/medium_alt_2.png
  app/src/main/res/drawable-nodpi/pingid.png
  app/src/main/res/drawable-nodpi/pingid_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/audio_editor_and_music_editor.png
  contribs/icons/audio_editor_and_music_editor.svg
  contribs/icons/birthday_countdown.png
  contribs/icons/birthday_countdown.svg
  contribs/icons/camaleon.png
  contribs/icons/camaleon.svg
  contribs/icons/daily_dev.png
  contribs/icons/daily_dev.svg
  contribs/icons/multilocale.png
  contribs/icons/multilocale.svg
  contribs/icons/my_notes.png
  contribs/icons/my_notes.svg
  contribs/icons/poste_italiane.png
  contribs/icons/poste_italiane.svg
  contribs/icons/qr_barcode_scanner.png
  contribs/icons/qr_barcode_scanner.svg
  contribs/icons/scaleway_manager.png
  contribs/icons/scaleway_manager.svg
  contribs/icons/settings_database_provider.png
  contribs/icons/settings_database_provider.svg
  contribs/icons/simple_markdown.png
  contribs/icons/simple_markdown.svg
  contribs/icons/temp_mail_io.png
  contribs/icons/temp_mail_io.svg
  contribs/icons/tile_shortcuts.png
  contribs/icons/tile_shortcuts.svg
  contribs/icons/windows_app.png
  contribs/icons/windows_app.svg
  resources/vectors/medium.svg
  resources/vectors/medium_alt_1.svg
  resources/vectors/pingid.svg
  resources/vectors/pingid_alt_1.svg
Labels: icons, compinfos

#985 Added 6 Icons (Including 1 Update)
  contribs/icons.yml
  contribs/icons/mindful.png
  contribs/icons/mindful.svg
  contribs/icons/panels_mkbhd.png
  contribs/icons/panels_mkbhd.svg
  contribs/icons/pinnit.png
  contribs/icons/pinnit.svg
  contribs/icons/pinnit_alt_1.png
  contribs/icons/pinnit_alt_1.svg
  contribs/icons/regexh.png
  contribs/icons/regexh.svg
  contribs/icons/stopscroll.png
  contribs/icons/stopscroll.svg
  contribs/icons/techne.png
  contribs/icons/techne.svg
Labels: icons, compinfos

#986 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/rimusic.png
  app/src/main/res/drawable-nodpi/rimusic_alt_1.png
  app/src/main/res/drawable-nodpi/rimusic_alt_2.png
  app/src/main/res/drawable-nodpi/showcase.png
  app/src/main/res/drawable-nodpi/showcase_alt_1.png
  app/src/main/res/drawable-nodpi/traewelldroid_alt_1.png
  app/src/main/res/drawable-nodpi/trawelldroid.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/droidcrypt.png
  contribs/icons/droidcrypt.svg
  contribs/icons/fetchit.png
  contribs/icons/fetchit.svg
  contribs/icons/meditation_assistant.png
  contribs/icons/meditation_assistant.svg
  contribs/icons/my_brain.png
  contribs/icons/my_brain.svg
  contribs/icons/picguard.png
  contribs/icons/picguard.svg
  contribs/icons/vaani.png
  contribs/icons/vaani.svg
  resources/vectors/rimusic.svg
  resources/vectors/rimusic_alt_1.svg
  resources/vectors/rimusic_alt_2.svg
  resources/vectors/showcase.svg
  resources/vectors/showcase_alt_1.svg
  resources/vectors/trawelldroid.svg
Labels: icons, compinfos

#987 Updated 1 Icon (Qwant)
  contribs/icons.yml
  contribs/icons/qwant.png
  contribs/icons/qwant.svg
  contribs/icons/qwant_alt_1.png
  contribs/icons/qwant_alt_1.svg
Labels: icons

#991 Update icons.yml
  contribs/icons.yml
  contribs/icons/timeshifter.png
  contribs/icons/timeshifter.svg
  contribs/icons/virgin_voyages.png
  contribs/icons/virgin_voyages.svg
Labels: icons

#995 Add new icons
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/bawag.png
  contribs/icons/bawag.svg
  contribs/icons/busbahnbim.png
  contribs/icons/busbahnbim.svg
  contribs/icons/eausweise.png
  contribs/icons/eausweise.svg
  contribs/icons/spielerplus.png
  contribs/icons/spielerplus.svg
Labels: icons

#997 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/linksheet.png
  app/src/main/res/drawable-nodpi/linksheet_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/chatair.png
  contribs/icons/chatair.svg
  contribs/icons/clipcascade.png
  contribs/icons/clipcascade.svg
  contribs/icons/cwtch.png
  contribs/icons/cwtch.svg
  contribs/icons/discord_revenge.png
  contribs/icons/discord_revenge.svg
  contribs/icons/fboard.png
  contribs/icons/fboard.svg
  contribs/icons/icon_packer.png
  contribs/icons/icon_packer.svg
  contribs/icons/journalize.png
  contribs/icons/journalize.svg
  contribs/icons/namida.png
  contribs/icons/namida.svg
  contribs/icons/revenge_manager.png
  contribs/icons/revenge_manager.svg
  contribs/icons/smartpixelsposed.png
  contribs/icons/smartpixelsposed.svg
  contribs/icons/squad_busters.png
  contribs/icons/squad_busters.svg
  resources/vectors/linksheet.svg
  resources/vectors/linksheet_alt_1.svg
Labels: icons, compinfos

#998 Add icon for five surveys
  contribs/icons.yml
  contribs/icons/five_surveys.png
  contribs/icons/five_surveys.svg
Labels: icons, compinfos

#999 new stuff
  contribs/icons.yml
  contribs/icons/balatro.png
  contribs/icons/balatro.svg
  contribs/icons/block_blast.png
  contribs/icons/block_blast.svg
  contribs/icons/clipcascade.png
  contribs/icons/clipcascade.svg
  contribs/icons/eausweise.png
  contribs/icons/eausweise.svg
  contribs/icons/idesk_studio.png
  contribs/icons/idesk_studio.svg
  contribs/icons/stars_coffee.png
  contribs/icons/stars_coffee.svg
  contribs/icons/tabletki.png
  contribs/icons/tabletki.svg
  contribs/icons/tosim.png
  contribs/icons/tosim.svg
  contribs/requests.yml
Labels: icons, compinfos

#1001 add icons, premium request
  contribs/icons.yml
  contribs/icons/naruto_ultimate_ninja_storm.png
  contribs/icons/naruto_ultimate_ninja_storm.svg
  contribs/icons/snaq.png
  contribs/icons/snaq.svg
Labels: icons

#1000 update scripts
  .github/CONTRIBUTING.md
  .github/scripts/add_icons.py
  .github/scripts/add_icons_wrapper.py
  .github/scripts/requirements.txt
  contribs/icons.yml
Labels: optimization, compinfos, misc

#1003 Add icons & compinfo & fixes
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/geto.png
  app/src/main/res/drawable-nodpi/geto_alt_1.png
  app/src/main/res/drawable-nodpi/geto_alt_2.png
  app/src/main/res/drawable-nodpi/my_fitness_pal_alt_1.png
  app/src/main/res/drawable-nodpi/nbc_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/aggregator_news.png
  contribs/icons/aggregator_news.svg
  contribs/icons/app_finder.png
  contribs/icons/app_finder.svg
  contribs/icons/appflowy.png
  contribs/icons/appflowy.svg
  contribs/icons/earnin.png
  contribs/icons/earnin.svg
  contribs/icons/google_pixel_studio.png
  contribs/icons/google_pixel_studio.svg
  contribs/icons/just_rss_legacy.png
  contribs/icons/just_rss_legacy.svg
  contribs/icons/kicktipp.png
  contribs/icons/kicktipp.svg
  contribs/icons/plant_it.png
  contribs/icons/plant_it.svg
  contribs/icons/vendroid_enhanced.png
  contribs/icons/vendroid_enhanced.svg
  resources/vectors/geto.svg
  resources/vectors/geto_alt_1.svg
  resources/vectors/geto_alt_2.svg
  resources/vectors/nbc_alt_1.svg
Labels: icons, compinfos, missing

#1004 contributions from Discord
  contribs/icons.yml
  contribs/icons/annelids.png
  contribs/icons/annelids.svg
  contribs/icons/annelids_alt_1.png
  contribs/icons/annelids_alt_1.svg
  contribs/icons/day_off.png
  contribs/icons/day_off.svg
  contribs/icons/day_off_alt_1.png
  contribs/icons/day_off_alt_1.svg
Labels: icons, compinfos

#1006 add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/tasks_alt_1.png
  app/src/main/res/drawable-nodpi/tasks_amber.png
  app/src/main/res/drawable-nodpi/tasks_blue_grey.png
  app/src/main/res/drawable-nodpi/tasks_brown.png
  app/src/main/res/drawable-nodpi/tasks_cyan.png
  app/src/main/res/drawable-nodpi/tasks_dark_grey.png
  app/src/main/res/drawable-nodpi/tasks_deep_orange.png
  app/src/main/res/drawable-nodpi/tasks_deep_purple.png
  app/src/main/res/drawable-nodpi/tasks_green.png
  app/src/main/res/drawable-nodpi/tasks_grey.png
  app/src/main/res/drawable-nodpi/tasks_indigo.png
  app/src/main/res/drawable-nodpi/tasks_light_blue.png
  app/src/main/res/drawable-nodpi/tasks_light_green.png
  app/src/main/res/drawable-nodpi/tasks_lime.png
  app/src/main/res/drawable-nodpi/tasks_orange.png
  app/src/main/res/drawable-nodpi/tasks_pink.png
  app/src/main/res/drawable-nodpi/tasks_purple.png
  app/src/main/res/drawable-nodpi/tasks_red.png
  app/src/main/res/drawable-nodpi/tasks_teal.png
  app/src/main/res/drawable-nodpi/tasks_yellow.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  resources/vectors/tasks_alt_1.svg
  resources/vectors/tasks_amber.svg
  resources/vectors/tasks_blue_grey.svg
  resources/vectors/tasks_brown.svg
  resources/vectors/tasks_cyan.svg
  resources/vectors/tasks_dark_grey.svg
  resources/vectors/tasks_deep_orange.svg
  resources/vectors/tasks_deep_purple.svg
  resources/vectors/tasks_green.svg
  resources/vectors/tasks_grey.svg
  resources/vectors/tasks_indigo.svg
  resources/vectors/tasks_light_blue.svg
  resources/vectors/tasks_light_green.svg
  resources/vectors/tasks_lime.svg
  resources/vectors/tasks_orange.svg
  resources/vectors/tasks_pink.svg
  resources/vectors/tasks_purple.svg
  resources/vectors/tasks_red.svg
  resources/vectors/tasks_teal.svg
  resources/vectors/tasks_yellow.svg
Labels: icons, compinfos

#1005 New icons
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/alza.png
  contribs/icons/alza.svg
  contribs/icons/alza_alt_1.png
  contribs/icons/alza_alt_1.svg
  contribs/icons/dpo.png
  contribs/icons/dpo.svg
  contribs/icons/odisapka.png
  contribs/icons/odisapka.svg
  contribs/icons/pid.png
  contribs/icons/pid.svg
Labels: icons, compinfos
