Repository Delta-Icons/android, pull requests merged in 2024-04, with the labels that each got.

#845 Add "GPSTest" app icon
  resources/new_icons.yaml
  resources/utilities/icons/gpstest.png
  resources/utilities/icons/gpstest.svg
Labels: icons, compinfos

#846 Add "GOG" icon
  resources/new_icons.yaml
  resources/utilities/icons/gog.png
  resources/utilities/icons/gog.svg
Labels: icons, compinfos

#847 Add 2 icons & Update ComponentInfo
  app/src/main/res/xml/contributors.xml
  resources/new_icons.yaml
  resources/utilities/icons/expo_wallet.png
  resources/utilities/icons/expo_wallet.svg
  resources/utilities/icons/miria.png
  resources/utilities/icons/miria.svg
Labels: icons, compinfos

#848 new stuff
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/immich.png
  app/src/main/res/drawable-nodpi/immich_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/jtx.png
  resources/utilities/icons/jtx.svg
  resources/utilities/icons/tver.png
  resources/utilities/icons/tver.svg
  resources/utilities/icons/yahoo_japan_transit.png
  resources/utilities/icons/yahoo_japan_transit.svg
  resources/vectors/immich.svg
  resources/vectors/immich_alt_1.svg
Labels: icons, compinfos

#849 Add Youi icon + CompInfo updates
  resources/new_icons.yaml
  resources/utilities/icons/youi.png
  resources/utilities/icons/youi.svg
Labels: icons, compinfos

#859 Add project info for IDEA to display
  .idea/icon.png
  settings.gradle
Labels: misc

#861 add icons
  resources/new_icons.yaml
  resources/utilities/icons/afterpay_alt_1.png
  resources/utilities/icons/afterpay_alt_1.svg
  resources/utilities/icons/bookmory.png
  resources/utilities/icons/bookmory.svg
  resources/utilities/icons/borrowell.png
  resources/utilities/icons/borrowell.svg
  resources/utilities/icons/buy_me_a_coffee.png
  resources/utilities/icons/buy_me_a_coffee.svg
  resources/utilities/icons/darkinator.png
  resources/utilities/icons/darkinator.svg
  resources/utilities/icons/gopeed.png
  resources/utilities/icons/gopeed.svg
  resources/utilities/icons/my_spectrum.png
  resources/utilities/icons/my_spectrum.svg
  resources/utilities/icons/ruter.png
  resources/utilities/icons/ruter.svg
  resources/utilities/icons/xfolder.png
  resources/utilities/icons/xfolder.svg
  resources/utilities/icons/ziraat_mobile.png
  resources/utilities/icons/ziraat_mobile.svg
Labels: icons

#862 add icons
  resources/new_icons.yaml
  resources/utilities/icons/game_of_life.png
  resources/utilities/icons/game_of_life.svg
  resources/utilities/icons/shkiper.png
  resources/utilities/icons/shkiper.svg
Labels: icons

#863 add icons
  resources/new_icons.yaml
  resources/utilities/icons/bancaribe_digital.png
  resources/utilities/icons/bancaribe_digital.svg
  resources/utilities/icons/c24_bank.png
  resources/utilities/icons/c24_bank.svg
  resources/utilities/icons/darker.png
  resources/utilities/icons/darker.svg
  resources/utilities/icons/e1547.png
  resources/utilities/icons/e1547.svg
  resources/utilities/icons/focusreader.png
  resources/utilities/icons/focusreader.svg
  resources/utilities/icons/istanbulkart.png
  resources/utilities/icons/istanbulkart.svg
  resources/utilities/icons/medal_tv.png
  resources/utilities/icons/medal_tv.svg
  resources/utilities/icons/mynaportal.png
  resources/utilities/icons/mynaportal.svg
  resources/utilities/icons/npr.png
  resources/utilities/icons/npr.svg
  resources/utilities/icons/sling.png
  resources/utilities/icons/sling.svg
  resources/utilities/icons/slopes.png
  resources/utilities/icons/slopes.svg
  resources/utilities/icons/todaytix.png
  resources/utilities/icons/todaytix.svg
  resources/utilities/icons/volumee.png
  resources/utilities/icons/volumee.svg
  resources/utilities/icons/xfolder.png
  resources/utilities/icons/xfolder.svg
  resources/utilities/icons/zepto.png
  resources/utilities/icons/zepto.svg
  resources/utilities/icons/znanylekarz.png
  resources/utilities/icons/znanylekarz.svg
Labels: icons
