Repository Delta-Icons/android, pull requests merged in 2024-07, with the labels that each got.

#898 new stuff
  resources/new_icons.yaml
  resources/utilities/icons/abema_tv.png
  resources/utilities/icons/abema_tv.svg
  resources/utilities/icons/banco_de_venezuela.png
  resources/utilities/icons/banco_de_venezuela.svg
  resources/utilities/icons/superlist.png
  resources/utilities/icons/superlist.svg
  resources/utilities/icons/sutochno.png
  resources/utilities/icons/sutochno.svg
  resources/utilities/icons/techcombank.png
  resources/utilities/icons/techcombank.svg
  resources/utilities/icons/unifi_protect.png
  resources/utilities/icons/unifi_protect.svg
Labels: icons, compinfos

#900 add icons&componentinfo and update candybar
  app/build.gradle
  resources/new_icons.yaml
  resources/utilities/icons/aluminium.png
  resources/utilities/icons/aluminium.svg
  resources/utilities/icons/aniflow.png
  resources/utilities/icons/aniflow.svg
  resources/utilities/icons/audiofy.png
  resources/utilities/icons/audiofy.svg
  resources/utilities/icons/bikesharinghub.png
  resources/utilities/icons/bikesharinghub.svg
  resources/utilities/icons/desygner.png
  resources/utilities/icons/desygner.svg
  resources/utilities/icons/divineko.png
  resources/utilities/icons/divineko.svg
  resources/utilities/icons/glassdown.png
  resources/utilities/icons/glassdown.svg
  resources/utilities/icons/gohenry.png
  resources/utilities/icons/gohenry.svg
  resources/utilities/icons/gpt_box.png
  resources/utilities/icons/gpt_box.svg
  resources/utilities/icons/gptmobile.png
  resources/utilities/icons/gptmobile.svg
  resources/utilities/icons/lime3ds.png
  resources/utilities/icons/lime3ds.svg
  resources/utilities/icons/my_benefits.png
  resources/utilities/icons/my_benefits.svg
  resources/utilities/icons/ollama.png
  resources/utilities/icons/ollama.svg
  resources/utilities/icons/plexus.png
  resources/utilities/icons/plexus.svg
  resources/utilities/icons/rootactivitylauncher.png
  resources/utilities/icons/rootactivitylauncher.svg
  resources/utilities/icons/serverbox.png
  resources/utilities/icons/serverbox.svg
  resources/utilities/icons/shizutools.png
  resources/utilities/icons/shizutools.svg
  resources/utilities/icons/wifilist.png
  resources/utilities/icons/wifilist.svg
Labels: icons, compinfos, misc

#901 New icons and ComponentInfos
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/cira_canadian_shield.png
  app/src/main/res/drawable-nodpi/city_news.png
  app/src/main/res/drawable-nodpi/dc_ot_campus_recreation.png
  app/src/main/res/drawable-nodpi/durham_waste.png
  app/src/main/res/drawable-nodpi/freshco.png
  app/src/main/res/drawable-nodpi/kfc.png
  app/src/main/res/drawable-nodpi/kfc_alt_1.png
  app/src/main/res/drawable-nodpi/mupdf.png
  app/src/main/res/drawable-nodpi/mupdf_alt_2.png
  app/src/main/res/drawable-nodpi/resident_portal.png
  app/src/main/res/drawable-nodpi/transit_manifesto.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/cira_canadian_shield.svg
  resources/vectors/city_news.svg
  resources/vectors/dc_ot_campus_recreation.svg
  resources/vectors/durham_waste.svg
  resources/vectors/freshco.svg
  resources/vectors/kfc.svg
  resources/vectors/kfc_alt_1.svg
  resources/vectors/mupdf.svg
  resources/vectors/mupdf_alt_1.svg
  resources/vectors/mupdf_alt_2.svg
  resources/vectors/resident_portal.svg
  resources/vectors/transit_manifesto.svg
Labels: icons, compinfos

#902 Fix componentinfo for LibChecker & Chromium
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/contributors.xml
Labels: compinfos

#903 add icons&componentinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/databackup.png
  app/src/main/res/drawable-nodpi/databackup_alt_1.png
  app/src/main/res/xml/drawable.xml
  resources/new_icons.yaml
  resources/utilities/icons/calculator_you.png
  resources/utilities/icons/calculator_you.svg
  resources/utilities/icons/capy_reader.png
  resources/utilities/icons/capy_reader.svg
  resources/utilities/icons/fadcam.png
  resources/utilities/icons/fadcam.svg
  resources/utilities/icons/meditationtimer.png
  resources/utilities/icons/meditationtimer.svg
  resources/utilities/icons/rush.png
  resources/utilities/icons/rush.svg
  resources/utilities/icons/streamflix.png
  resources/utilities/icons/streamflix.svg
  resources/utilities/icons/tack.png
  resources/utilities/icons/tack.svg
  resources/utilities/icons/vat_calculator.png
  resources/utilities/icons/vat_calculator.svg
  resources/vectors/databackup.svg
  resources/vectors/databackup_alt_1.svg
Labels: icons, compinfos

#904 add icons&componentinfo
  app/src/main/res/drawable-nodpi/gpay_business.png
  resources/new_icons.yaml
  resources/utilities/icons/_24pay.png
  resources/utilities/icons/_24pay.svg
  resources/utilities/icons/amazon_freevee.png
  resources/utilities/icons/amazon_freevee.svg
  resources/utilities/icons/bank_of_the_philippine.png
  resources/utilities/icons/bank_of_the_philippine.svg
  resources/utilities/icons/caliber_strength_training.png
  resources/utilities/icons/caliber_strength_training.svg
  resources/utilities/icons/cent_mobile.png
  resources/utilities/icons/cent_mobile.svg
  resources/utilities/icons/crumblr.png
  resources/utilities/icons/crumblr.svg
  resources/utilities/icons/dinamalar.png
  resources/utilities/icons/dinamalar.svg
  resources/utilities/icons/flight_centre_mastercard.png
  resources/utilities/icons/flight_centre_mastercard.svg
  resources/utilities/icons/forest_ebike_sharing.png
  resources/utilities/icons/forest_ebike_sharing.svg
  resources/utilities/icons/google_gemini_alt_1.png
  resources/utilities/icons/google_gemini_alt_1.svg
  resources/utilities/icons/graphene_info.png
  resources/utilities/icons/graphene_info.svg
  resources/utilities/icons/infi.png
  resources/utilities/icons/infi.svg
  resources/utilities/icons/jiojoin.png
  resources/utilities/icons/jiojoin.svg
  resources/utilities/icons/jiojoin_alt_1.png
  resources/utilities/icons/jiojoin_alt_1.svg
  resources/utilities/icons/shutdown.png
  resources/utilities/icons/shutdown.svg
  resources/utilities/icons/soundbound.png
  resources/utilities/icons/soundbound.svg
  resources/utilities/icons/stargon_browser.png
  resources/utilities/icons/stargon_browser.svg
  resources/utilities/icons/stock_market_simulator.png
  resources/utilities/icons/stock_market_simulator.svg
  resources/utilities/icons/strava_cz.png
  resources/utilities/icons/strava_cz.svg
  resources/utilities/icons/sun_nxt.png
  resources/utilities/icons/sun_nxt.svg
  resources/utilities/icons/tooly.png
  resources/utilities/icons/tooly.svg
  resources/utilities/icons/videosummarizer.png
  resources/utilities/icons/videosummarizer.svg
  resources/utilities/icons/viking_app_poland.png
  resources/utilities/icons/viking_app_poland.svg
  resources/utilities/icons/whoop.png
  resources/utilities/icons/whoop.svg
  resources/utilities/icons/wikidex_net.png
  resources/utilities/icons/wikidex_net.svg
  resources/vectors/gpay_business.svg
Labels: icons, compinfos

#906 optimizing the workflow
  .github/workflows/build_all.yml
  .github/workflows/build_foss.yml
  .github/workflows/conflicts_check.yml
  .github/workflows/update_requests.yml
Labels: optimization, misc

#907 Add icon
  resources/new_icons.yaml
  resources/utilities/icons/japan_digital_authentication_app.png
  resources/utilities/icons/japan_digital_authentication_app.svg
Labels: icons

#908 Add Futo Keyboard icon, fix Numberhub and Revanced Manager (Debug) icons
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/futo_keyboard.png
  app/src/main/res/drawable-nodpi/numberhub.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/futo_keyboard.svg
  resources/vectors/numberhub.svg
Labels: icons, compinfos

#909 Add icon & Update ComponentInfo
  resources/new_icons.yaml
  resources/utilities/icons/eigonotomo.png
  resources/utilities/icons/eigonotomo.svg
Labels: icons, compinfos

#911 Fix icon size
  app/src/main/res/drawable-nodpi/eigonotomo.png
  resources/vectors/eigonotomo.svg
Labels: icons

#914 Fix transparent PNG image
  app/src/main/res/drawable-nodpi/lucky_patcher.png
Labels: icons

#915 new stuff
  .github/scripts/add_icons.py
  .github/scripts/add_icons_wrapper.py
  .github/scripts/bump_version.py
  .github/scripts/email_dumper.py
  .github/scripts/resolve_paths.py
  .github/scripts/sort_appfilter.py
  .github/scripts/sort_drawable.py
  .github/scripts/variables.sh
  .github/workflows/check_conflicts.yml
  contribs/icons.yml
  contribs/icons/cync_alt_1.png
  contribs/icons/cync_alt_1.svg
  contribs/icons/if_design.png
  contribs/icons/if_design.svg
  contribs/icons/mangalib.png
  contribs/icons/mangalib.svg
  contribs/icons/nw_publisher.png
  contribs/icons/nw_publisher.svg
  contribs/icons/samsung_find.png
  contribs/icons/samsung_find.svg
  contribs/requests.yml
Labels: icons, compinfos, misc

#916 new stuff
  .github/scripts/find_updatable.py
  .github/scripts/resolve_paths.py
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/down_dog_yoga.png
  app/src/main/res/drawable-nodpi/meditation_down_dog.png
  app/src/main/res/drawable-nodpi/xapk_installer.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/requests.yml
  resources/vectors/down_dog_yoga.svg
  resources/vectors/meditation_down_dog.svg
  resources/vectors/xapk_installer.svg
Labels: icons, optimization, compinfos, misc

#918 add icons&componentinfo
  contribs/icons.yml
  contribs/icons/bazarnote.png
  contribs/icons/bazarnote.svg
  contribs/icons/cryptool.png
  contribs/icons/cryptool.svg
  contribs/icons/fluxtube.png
  contribs/icons/fluxtube.svg
  contribs/icons/grocerygenius.png
  contribs/icons/grocerygenius.svg
  contribs/icons/js_dict.png
  contribs/icons/js_dict.svg
  contribs/icons/karbon_editor.png
  contribs/icons/karbon_editor.svg
  contribs/icons/meru.png
  contribs/icons/meru.svg
  contribs/icons/notewise.png
  contribs/icons/notewise.svg
  contribs/icons/payback_nagrody_za_zakupy.png
  contribs/icons/payback_nagrody_za_zakupy.svg
  contribs/icons/traditional_t9.png
  contribs/icons/traditional_t9.svg
  contribs/icons/ultrahuman.png
  contribs/icons/ultrahuman.svg
  contribs/icons/website_monitor.png
  contribs/icons/website_monitor.svg
Labels: icons, compinfos

#919 new stuff
  contribs/icons.yml
  contribs/icons/mighty_dice.png
  contribs/icons/mighty_dice.svg
Labels: icons, compinfos
