Repository Delta-Icons/android, pull requests merged in 2024-12, with the labels that each got.

#1044 Add 3 new icons and 1 missing comp info
  contribs/icons.yml
  contribs/icons/hlb_connect.png
  contribs/icons/hlb_connect.svg
  contribs/icons/hlb_connect_alt_1.png
  contribs/icons/hlb_connect_alt_1.svg
  contribs/icons/lark.png
  contribs/icons/lark.svg
  contribs/icons/lark_alt_1.png
  contribs/icons/lark_alt_1.svg
  contribs/icons/trek.png
  contribs/icons/trek.svg
Labels: icons, compinfos

#1045 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/right_gallery.png
  app/src/main/res/drawable-nodpi/right_gallery_alt_1.png
  app/src/main/res/drawable-nodpi/ubank.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/dark_note.png
  contribs/icons/dark_note.svg
  contribs/icons/motionlock.png
  contribs/icons/motionlock.svg
  contribs/icons/proton_wallet.png
  contribs/icons/proton_wallet.svg
  contribs/icons/upgrade.png
  contribs/icons/upgrade.svg
  resources/vectors/right_gallery.svg
  resources/vectors/right_gallery_alt_1.svg
Labels: icons, compinfos

#1049 Add icons
  contribs/icons.yml
  contribs/icons/boat_hearables.png
  contribs/icons/boat_hearables.svg
  contribs/icons/cfe_contigo.png
  contribs/icons/cfe_contigo.svg
  contribs/icons/citi_bike.png
  contribs/icons/citi_bike.svg
  contribs/icons/cube_acr.png
  contribs/icons/cube_acr.svg
  contribs/icons/reuters.png
  contribs/icons/reuters.svg
  contribs/icons/samsung_studio.png
  contribs/icons/samsung_studio.svg
  contribs/requests.yml
Labels: icons

#1050 Add icons
  contribs/icons.yml
  contribs/icons/home_tv.png
  contribs/icons/home_tv.svg
  contribs/icons/safepal.png
  contribs/icons/safepal.svg
  contribs/icons/tim_modem.png
  contribs/icons/tim_modem.svg
  contribs/icons/trendmicro_mobile_security.png
  contribs/icons/trendmicro_mobile_security.svg
  contribs/icons/xtb.png
  contribs/icons/xtb.svg
  contribs/icons/zinli.png
  contribs/icons/zinli.svg
  contribs/requests.yml
Labels: icons, compinfos

#1053 add icons
  contribs/icons.yml
  contribs/icons/bijnis.png
  contribs/icons/bijnis.svg
  contribs/icons/jelly_icon_pack.png
  contribs/icons/jelly_icon_pack.svg
  contribs/icons/lavender_photos.png
  contribs/icons/lavender_photos.svg
  contribs/icons/netgear_nighthawk.png
  contribs/icons/netgear_nighthawk.svg
  contribs/icons/onewheel.png
  contribs/icons/onewheel.svg
  contribs/icons/password_safe_manager.png
  contribs/icons/password_safe_manager.svg
  contribs/icons/sketchup_viewer.png
  contribs/icons/sketchup_viewer.svg
  contribs/icons/tibber.png
  contribs/icons/tibber.svg
  contribs/icons/xcurrency.png
  contribs/icons/xcurrency.svg
Labels: icons

#1054 Fix remaining icons left in folder after v1.9.9 beta release + Add ComponentInfos
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/etsy.png
  app/src/main/res/drawable-nodpi/etsy_seller.png
  app/src/main/res/drawable-nodpi/simosa_alt_1.png
  app/src/main/res/drawable-nodpi/trend_micro_mobile_security.png
  contribs/icons.yml
  contribs/icons/etsy.png
  contribs/icons/etsy.svg
  contribs/requests.yml
  resources/vectors/etsy.svg
  resources/vectors/etsy_seller.svg
  resources/vectors/simosa_alt_1.svg
  resources/vectors/trend_micro_mobile_security.svg
Labels: icons, compinfos

#1056 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/blackjack.png
  contribs/icons/blackjack.svg
  contribs/icons/cappuccino.png
  contribs/icons/cappuccino.svg
  contribs/icons/gas_prices_germany.png
  contribs/icons/gas_prices_germany.svg
  contribs/icons/ghosttube.png
  contribs/icons/ghosttube.svg
  contribs/icons/ipatente.png
  contribs/icons/ipatente.svg
  contribs/icons/komelia.png
  contribs/icons/komelia.svg
  contribs/icons/mutify.png
  contribs/icons/mutify.svg
  contribs/icons/pomocat.png
  contribs/icons/pomocat.svg
  contribs/icons/quillbot.png
  contribs/icons/quillbot.svg
  contribs/icons/redbubble.png
  contribs/icons/redbubble.svg
  contribs/icons/schildichat_next.png
  contribs/icons/schildichat_next.svg
  contribs/icons/spare.png
  contribs/icons/spare.svg
  contribs/icons/tower_collector.png
  contribs/icons/tower_collector.svg
  contribs/icons/trueid.png
  contribs/icons/trueid.svg
  contribs/icons/xivpn.png
  contribs/icons/xivpn.svg
Labels: icons, compinfos

#1057 Add icons + ComponentInfos
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/adobe_scan_alt_1.png
  app/src/main/res/drawable-nodpi/my_macros.png
  app/src/main/res/drawable-nodpi/xmanager.png
  app/src/main/res/drawable-nodpi/xmanager_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/instaddr.png
  contribs/icons/instaddr.svg
  contribs/icons/krispy_kreme.png
  contribs/icons/krispy_kreme.svg
  contribs/icons/melon_sandbox.png
  contribs/icons/melon_sandbox.svg
  contribs/icons/teuxdeux.png
  contribs/icons/teuxdeux.svg
  contribs/requests.yml
  resources/vectors/soundrs-concept.svg
  resources/vectors/xmanager.svg
  resources/vectors/xmanager_alt_1.svg
Labels: icons, compinfos

#1058 New compinfo + alt icon for Swiggy
  contribs/icons.yml
  contribs/icons/swiggy_alt_1.png
  contribs/icons/swiggy_alt_1.svg
Labels: icons

#1059 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/echoir.png
  contribs/icons/echoir.svg
  contribs/icons/epub_reader.png
  contribs/icons/epub_reader.svg
  contribs/icons/f1_clash.png
  contribs/icons/f1_clash.svg
  contribs/icons/gtworld.png
  contribs/icons/gtworld.svg
  contribs/icons/infinity_p8_player_emulator.png
  contribs/icons/infinity_p8_player_emulator.svg
  contribs/icons/jujutsu_kaisen_phantom_parade.png
  contribs/icons/jujutsu_kaisen_phantom_parade.svg
  contribs/icons/kernelsu_next.png
  contribs/icons/kernelsu_next.svg
  contribs/icons/lossless_jpg_crop.png
  contribs/icons/lossless_jpg_crop.svg
  contribs/icons/nexus_pay.png
  contribs/icons/nexus_pay.svg
  contribs/icons/polybuzz.png
  contribs/icons/polybuzz.svg
Labels: icons, compinfos

#1060 update candybar-foss
  app/build.gradle
  app/src/main/res/values/launchers.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: misc

#1062 add icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/showly.png
  app/src/main/res/drawable-nodpi/showly_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/ddc_toolbox.png
  contribs/icons/ddc_toolbox.svg
  contribs/icons/hp_pay.png
  contribs/icons/hp_pay.svg
  contribs/icons/mojepzu.png
  contribs/icons/mojepzu.svg
  contribs/icons/omnipod_5_app.png
  contribs/icons/omnipod_5_app.svg
  contribs/icons/samsung_interpreter.png
  contribs/icons/samsung_interpreter.svg
  contribs/icons/supreme_duelist.png
  contribs/icons/supreme_duelist.svg
  contribs/icons/wa_revamp.png
  contribs/icons/wa_revamp.svg
  contribs/icons/yamada_mobile.png
  contribs/icons/yamada_mobile.svg
  contribs/icons/yowindow_weather.png
  contribs/icons/yowindow_weather.svg
  resources/vectors/showly.svg
  resources/vectors/showly_alt_1.svg
Labels: icons

#1063 update candybar
  app/build.gradle
  app/src/main/res/values/launchers.xml
Labels: misc

#1064 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/canva.png
  app/src/main/res/drawable-nodpi/canva_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/algida.png
  contribs/icons/algida.svg
  contribs/icons/collage_maker.png
  contribs/icons/collage_maker.svg
  contribs/icons/enforcedoze.png
  contribs/icons/enforcedoze.svg
  contribs/icons/flare.png
  contribs/icons/flare.svg
  contribs/icons/hepsi_burada.png
  contribs/icons/hepsi_burada.svg
  contribs/icons/iscep.png
  contribs/icons/iscep.svg
  contribs/icons/native_detector.png
  contribs/icons/native_detector.svg
  contribs/icons/nays.png
  contribs/icons/nays.svg
  contribs/icons/pacer_pedometer.png
  contribs/icons/pacer_pedometer.svg
  contribs/icons/swapper.png
  contribs/icons/swapper.svg
  contribs/icons/swapper_root.png
  contribs/icons/swapper_root.svg
  contribs/icons/turrit.png
  contribs/icons/turrit.svg
  contribs/icons/yemek_com.png
  contribs/icons/yemek_com.svg
  resources/vectors/canva.svg
  resources/vectors/canva_alt_1.svg
Labels: icons, compinfos

#1065 Fix icon link
  contribs/icons.yml
Labels: compinfos

#1066 Added Munbyn Print Icon
  contribs/icons.yml
  contribs/icons/munbyn_print.png
  contribs/icons/munbyn_print.svg
Labels: icons

#1068 Shokz
  contribs/icons.yml
  contribs/icons/shokz.png
  contribs/icons/shokz.svg
Labels: icons

#1069 house_sigma fix
  contribs/icons.yml
Labels: compinfos

#1070 add icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/zimly.png
  app/src/main/res/drawable-nodpi/zimly_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/cryptotracker.png
  contribs/icons/cryptotracker.svg
  contribs/icons/global_icon_pack.png
  contribs/icons/global_icon_pack.svg
  contribs/icons/global_icon_pack_alt_1.png
  contribs/icons/global_icon_pack_alt_1.svg
  contribs/icons/syncara.png
  contribs/icons/syncara.svg
  contribs/icons/whisperime.png
  contribs/icons/whisperime.svg
  resources/vectors/zimly.svg
  resources/vectors/zimly_alt_1.svg
Labels: icons

#1071 update both candybar
  app/build.gradle
  settings.gradle
Labels: misc
