Repository Delta-Icons/android, pull requests merged in 2024-08, with the labels that each got.

#924 hotfixes
  .github/scripts/email_parser.py
  .github/scripts/requests_parser.py
  .github/scripts/sort_drawable.py
  .github/workflows/build_all.yml
  .github/workflows/update_requests.yml
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
Labels: optimization, misc

#925 hotfixes 1.9.4
  app/build.gradle
  app/src/main/assets/drawable.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/ticket_to_ride.png
  contribs/icons/ticket_to_ride.svg
Labels: icons, compinfos

#926 Fix componentinfo for nearby sharing windows
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#927 add icons&componentinfo
  contribs/icons.yml
  contribs/icons/amazon_minitv.png
  contribs/icons/amazon_minitv.svg
  contribs/icons/bitget.png
  contribs/icons/bitget.svg
  contribs/icons/british_airways.png
  contribs/icons/british_airways.svg
  contribs/icons/dailyal.png
  contribs/icons/dailyal.svg
  contribs/icons/fiio_music.png
  contribs/icons/fiio_music.svg
  contribs/icons/greythr.png
  contribs/icons/greythr.svg
  contribs/icons/meteoswiss.png
  contribs/icons/meteoswiss.svg
  contribs/icons/notepad.png
  contribs/icons/notepad.svg
  contribs/icons/offline_games.png
  contribs/icons/offline_games.svg
  contribs/icons/pickme.png
  contribs/icons/pickme.svg
  contribs/icons/sleeptown.png
  contribs/icons/sleeptown.svg
  contribs/icons/tfl_oyster.png
  contribs/icons/tfl_oyster.svg
  contribs/icons/tikkie.png
  contribs/icons/tikkie.svg
  contribs/icons/winx_launcher.png
  contribs/icons/winx_launcher.svg
  contribs/icons/ze_delivery_de_bebidas.png
  contribs/icons/ze_delivery_de_bebidas.svg
Labels: icons, compinfos

#929 add icons
  contribs/icons.yml
  contribs/icons/enojei.png
  contribs/icons/enojei.svg
  contribs/icons/findtaxi.png
  contribs/icons/findtaxi.svg
  contribs/icons/geforce_now.png
  contribs/icons/geforce_now.svg
  contribs/icons/grocer.png
  contribs/icons/grocer.svg
  contribs/icons/hondalink.png
  contribs/icons/hondalink.svg
  contribs/icons/jal.png
  contribs/icons/jal.svg
  contribs/icons/orange_phone.png
  contribs/icons/orange_phone.svg
  contribs/icons/vpn_kaspersky.png
  contribs/icons/vpn_kaspersky.svg
  contribs/icons/yodobashi.png
  contribs/icons/yodobashi.svg
Labels: icons

#930 Add 2 new icons and 1 new componentinfo
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/bank_id_alt_1.png
  contribs/icons/bank_id_alt_1.svg
  contribs/icons/lansforsakringar.png
  contribs/icons/lansforsakringar.svg
Labels: icons, compinfos

#932 Update icon linkages
  contribs/icons.yml
Labels: compinfos

#933 Add componentinfo for browser (huawei)
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#936 Added 3 Icons
  contribs/icons.yml
  contribs/icons/regain.png
  contribs/icons/regain.svg
  contribs/icons/sponge.png
  contribs/icons/sponge.svg
  contribs/icons/yaqoot.png
  contribs/icons/yaqoot.svg
Labels: icons

#937 Add 3 icons and Update icons.yml
  contribs/icons.yml
  contribs/icons/idemitsu_drive_on.png
  contribs/icons/idemitsu_drive_on.svg
  contribs/icons/my_docomo.png
  contribs/icons/my_docomo.svg
  contribs/icons/mynumber_card_check_app.png
  contribs/icons/mynumber_card_check_app.svg
Labels: icons, compinfos

#939 add icons
  contribs/icons.yml
  contribs/icons/compose_stopwatch.png
  contribs/icons/compose_stopwatch.svg
  contribs/icons/kitshn.png
  contribs/icons/kitshn.svg
  contribs/icons/migu.png
  contribs/icons/migu.svg
  contribs/icons/vega.png
  contribs/icons/vega.svg
  contribs/icons/weathermaster.png
  contribs/icons/weathermaster.svg
Labels: icons

#934 Update appfilter.xml
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#941 Added 1 icon + 1 CompInfo
  contribs/icons.yml
  contribs/icons/mrsool.png
  contribs/icons/mrsool.svg
Labels: icons, compinfos

#942 add icons&componentinfo
  contribs/icons.yml
  contribs/icons/batteryone.png
  contribs/icons/batteryone.svg
  contribs/icons/breasy.png
  contribs/icons/breasy.svg
  contribs/icons/bunpo.png
  contribs/icons/bunpo.svg
  contribs/icons/busbud.png
  contribs/icons/busbud.svg
  contribs/icons/drifto.png
  contribs/icons/drifto.svg
  contribs/icons/habitkit.png
  contribs/icons/habitkit.svg
  contribs/icons/impots_gouv.png
  contribs/icons/impots_gouv.svg
  contribs/icons/mensaplus.png
  contribs/icons/mensaplus.svg
  contribs/icons/mooney.png
  contribs/icons/mooney.svg
  contribs/icons/my_bpost.png
  contribs/icons/my_bpost.svg
  contribs/icons/octoprint.png
  contribs/icons/octoprint.svg
  contribs/icons/pi_personal_ai.png
  contribs/icons/pi_personal_ai.svg
  contribs/icons/portfolio_performance.png
  contribs/icons/portfolio_performance.svg
  contribs/icons/sahibinden.png
  contribs/icons/sahibinden.svg
  contribs/icons/thenx.png
  contribs/icons/thenx.svg
  contribs/icons/yle.png
  contribs/icons/yle.svg
  contribs/icons/zen_com.png
  contribs/icons/zen_com.svg
Labels: icons, compinfos
