Repository Delta-Icons/android, pull requests merged in 2024-11, with the labels that each got.

#1009 Add icon for Soonta
  contribs/icons.yml
  contribs/icons/soonta.png
  contribs/icons/soonta.svg
Labels: icons

#1010 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/mlauncher.png
  app/src/main/res/drawable-nodpi/mlauncher_alt_1.png
  app/src/main/res/drawable-nodpi/thunderbird_beta.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/action_notch.png
  contribs/icons/action_notch.svg
  contribs/icons/auto_typer.png
  contribs/icons/auto_typer.svg
  contribs/icons/edenred_wallet.png
  contribs/icons/edenred_wallet.svg
  contribs/icons/habits_streak.png
  contribs/icons/habits_streak.svg
  contribs/icons/hoarder_app.png
  contribs/icons/hoarder_app.svg
  contribs/icons/mods_maps_skin_for_minecraft.png
  contribs/icons/mods_maps_skin_for_minecraft.svg
  contribs/icons/pokemon_tgc_pocket.png
  contribs/icons/pokemon_tgc_pocket.svg
  contribs/icons/simple_calendar_easy_planner.png
  contribs/icons/simple_calendar_easy_planner.svg
  contribs/icons/smart_mp3_tag_editor.png
  contribs/icons/smart_mp3_tag_editor.svg
  contribs/icons/vespucci.png
  contribs/icons/vespucci.svg
  resources/vectors/mlauncher.svg
  resources/vectors/mlauncher_alt_1.svg
  resources/vectors/thunderbird_beta.svg
Labels: icons, compinfos

#1017 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/nocta.png
  contribs/icons/nocta.svg
  contribs/icons/rescribe.png
  contribs/icons/rescribe.svg
  contribs/icons/suby.png
  contribs/icons/suby.svg
Labels: icons, compinfos

#1020 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/adrenalin.png
  contribs/icons/adrenalin.svg
  contribs/icons/amazon_chime.png
  contribs/icons/amazon_chime.svg
  contribs/icons/brain_fm.png
  contribs/icons/brain_fm.svg
  contribs/icons/cava.png
  contribs/icons/cava.svg
  contribs/icons/chatterui.png
  contribs/icons/chatterui.svg
  contribs/icons/chordify.png
  contribs/icons/chordify.svg
  contribs/icons/color_palette.png
  contribs/icons/color_palette.svg
  contribs/icons/egym_wellpass.png
  contribs/icons/egym_wellpass.svg
  contribs/icons/feeld_dating.png
  contribs/icons/feeld_dating.svg
  contribs/icons/health_sync.png
  contribs/icons/health_sync.svg
  contribs/icons/image_sync.png
  contribs/icons/image_sync.svg
  contribs/icons/pixel_thermometer.png
  contribs/icons/pixel_thermometer.svg
  contribs/icons/satstat.png
  contribs/icons/satstat.svg
  contribs/icons/streetvoice.png
  contribs/icons/streetvoice.svg
  contribs/icons/tokyo_disney_resort.png
  contribs/icons/tokyo_disney_resort.svg
  contribs/icons/virgin_pulse.png
  contribs/icons/virgin_pulse.svg
Labels: icons, compinfos

#1021 Add icon for Anki Pro
  contribs/icons.yml
  contribs/icons/ankipro.png
  contribs/icons/ankipro.svg
Labels: icons, compinfos

#1023 add icons
  contribs/icons.yml
  contribs/icons/adb_shell.png
  contribs/icons/adb_shell.svg
  contribs/icons/fluidac.png
  contribs/icons/fluidac.svg
  contribs/icons/keepassvault.png
  contribs/icons/keepassvault.svg
  contribs/icons/notallyx.png
  contribs/icons/notallyx.svg
  contribs/icons/pillo.png
  contribs/icons/pillo.svg
  contribs/icons/powerapp.png
  contribs/icons/powerapp.svg
  contribs/icons/refreezer.png
  contribs/icons/refreezer.svg
  contribs/icons/zimly.png
  contribs/icons/zimly.svg
Labels: icons

#1024 Add icons + component info
  contribs/icons.yml
  contribs/icons/alive_app.png
  contribs/icons/alive_app.svg
  contribs/icons/datart.png
  contribs/icons/datart.svg
  contribs/icons/jizdni_rady.png
  contribs/icons/jizdni_rady.svg
Labels: icons, compinfos

#1027 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/banco_de_la_nacion.png
  contribs/icons/banco_de_la_nacion.svg
  contribs/icons/boardgamegeek.png
  contribs/icons/boardgamegeek.svg
  contribs/icons/drawpile.png
  contribs/icons/drawpile.svg
  contribs/icons/endowus.png
  contribs/icons/endowus.svg
  contribs/icons/fable_books_tv.png
  contribs/icons/fable_books_tv.svg
  contribs/icons/mi_carpeta_ciudadana.png
  contribs/icons/mi_carpeta_ciudadana.svg
  contribs/icons/muse_tts.png
  contribs/icons/muse_tts.svg
  contribs/icons/ntodotxt.png
  contribs/icons/ntodotxt.svg
  contribs/icons/prtg.png
  contribs/icons/prtg.svg
  contribs/icons/rem.png
  contribs/icons/rem.svg
  contribs/icons/sdk_monitor.png
  contribs/icons/sdk_monitor.svg
  contribs/icons/tubesync.png
  contribs/icons/tubesync.svg
Labels: icons, compinfos

#1031 new stuff
  contribs/icons.yml
  contribs/icons/drom_baza.png
  contribs/icons/drom_baza.svg
  contribs/icons/mynoise.png
  contribs/icons/mynoise.svg
  contribs/icons/mynoise_alt_1.png
  contribs/icons/mynoise_alt_1.svg
  contribs/requests.yml
Labels: icons, compinfos

#1032 add animetail icons
  contribs/icons.yml
  contribs/icons/animetail.png
  contribs/icons/animetail.svg
  contribs/icons/animetail_preview.png
  contribs/icons/animetail_preview.svg
Labels: icons, compinfos

#1036 add icons & componentinfo
  contribs/icons.yml
  contribs/icons/icbc.png
  contribs/icons/icbc.svg
  contribs/icons/pdf_converter.png
  contribs/icons/pdf_converter.svg
Labels: icons, compinfos

#1034 add bluelink, easybank, scalable
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/bluelink.png
  contribs/icons/bluelink.svg
  contribs/icons/easy_bank.png
  contribs/icons/easy_bank.svg
  contribs/icons/scalable.png
  contribs/icons/scalable.svg
  contribs/requests.yml
Labels: icons, compinfos

#1037 onesec
  contribs/icons.yml
  contribs/icons/onesec.png
  contribs/icons/onesec.svg
  contribs/icons/onesec_alt_1.png
  contribs/icons/onesec_alt_1.svg
Labels: icons, compinfos

#1038 Fix typo ('tgc' instead of 'tcg')
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/pokemon_tcg_pocket.png
  resources/vectors/pokemon_tcg_pocket.svg
Labels: misc

#1039 Add 3 Yatri apps and their partner variants
  contribs/icons.yml
  contribs/icons/yatri.png
  contribs/icons/yatri.svg
  contribs/icons/yatri_driver.png
  contribs/icons/yatri_driver.svg
Labels: icons, compinfos

#1040 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/yetcalc.png
  app/src/main/res/drawable-nodpi/yetcalc_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/australian_retirement_trust.png
  contribs/icons/australian_retirement_trust.svg
  contribs/icons/code_editor.png
  contribs/icons/code_editor.svg
  contribs/icons/jiopos_plus.png
  contribs/icons/jiopos_plus.svg
  contribs/icons/recover_athletics.png
  contribs/icons/recover_athletics.svg
  contribs/icons/supertext_messenger.png
  contribs/icons/supertext_messenger.svg
  contribs/icons/trojmiasto_pl.png
  contribs/icons/trojmiasto_pl.svg
  resources/vectors/yetcalc.svg
  resources/vectors/yetcalc_alt_1.svg
Labels: icons, compinfos

#1041 Fix icon link
  contribs/icons.yml
Labels: compinfos
