Repository Delta-Icons/android, pull requests merged in 2024-09, with the labels that each got.

#943 new stuff & fixes
  .github/images/contributors/johnmaneca.png
  .github/images/contributors/vegeta9900.png
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/dinamalar.png
  app/src/main/res/drawable-nodpi/dinamalar_alt_1.png
  app/src/main/res/drawable-nodpi/dinamalar_alt_2.png
  app/src/main/res/drawable-nodpi/jiojoin.png
  app/src/main/res/drawable-nodpi/jiojoin_alt_2.png
  app/src/main/res/drawable-nodpi/stock_market_simulator.png
  app/src/main/res/drawable-nodpi/stock_market_simulator_alt_1.png
  app/src/main/res/drawable-nodpi/stock_market_simulator_alt_2.png
  app/src/main/res/drawable-nodpi/tooly.png
  app/src/main/res/drawable-nodpi/tooly_alt_1.png
  app/src/main/res/xml/contributors.xml
  app/src/main/res/xml/drawable.xml
  build.gradle
  resources/vectors/dinamalar.svg
  resources/vectors/dinamalar_alt_1.svg
  resources/vectors/dinamalar_alt_2.svg
  resources/vectors/jiojoin.svg
  resources/vectors/jiojoin_alt_2.svg
  resources/vectors/stock_market_simulator.svg
  resources/vectors/stock_market_simulator_alt_1.svg
  resources/vectors/stock_market_simulator_alt_2.svg
  resources/vectors/tooly.svg
  resources/vectors/tooly_alt_1.svg
Labels: icons, compinfos, misc

#944 add icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/materialious.png
  app/src/main/res/drawable-nodpi/materialious_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/blomeetunes.png
  contribs/icons/blomeetunes.svg
  contribs/icons/click_switch.png
  contribs/icons/click_switch.svg
  contribs/icons/grit.png
  contribs/icons/grit.svg
  contribs/icons/interval_timer.png
  contribs/icons/interval_timer.svg
  contribs/icons/libretrack.png
  contribs/icons/libretrack.svg
  contribs/icons/mpvkt.png
  contribs/icons/mpvkt.svg
  contribs/icons/outertune.png
  contribs/icons/outertune.svg
  contribs/icons/telewatch.png
  contribs/icons/telewatch.svg
  contribs/icons/toadua.png
  contribs/icons/toadua.svg
  resources/vectors/materialious.svg
  resources/vectors/materialious_alt_1.svg
Labels: icons

#945 limited time: re-enable premium requests globally!
  app/src/main/res/values/dashboard_configurations.xml
Labels: misc

#946 add icons&componentinfo
  contribs/icons.yml
  contribs/icons/code_rain.png
  contribs/icons/code_rain.svg
  contribs/icons/hcl_verse.png
  contribs/icons/hcl_verse.svg
  contribs/icons/ion_launcher.png
  contribs/icons/ion_launcher.svg
  contribs/icons/lena_adaptive.png
  contribs/icons/lena_adaptive.svg
  contribs/icons/lumina_wallpapers.png
  contribs/icons/lumina_wallpapers.svg
  contribs/icons/notion_calendar.png
  contribs/icons/notion_calendar.svg
  contribs/icons/osmin.png
  contribs/icons/osmin.svg
  contribs/icons/quetta.png
  contribs/icons/quetta.svg
  contribs/icons/study_bunny.png
  contribs/icons/study_bunny.svg
  contribs/icons/zygisk_detach.png
  contribs/icons/zygisk_detach.svg
Labels: icons, compinfos

#947 add icons, premium request
  contribs/icons.yml
  contribs/icons/atom_turtle_beach.png
  contribs/icons/atom_turtle_beach.svg
  contribs/icons/awtrix_3.png
  contribs/icons/awtrix_3.svg
  contribs/icons/beurer_healthmanager.png
  contribs/icons/beurer_healthmanager.svg
  contribs/icons/bp_doctor_plus.png
  contribs/icons/bp_doctor_plus.svg
  contribs/icons/famila_nordost.png
  contribs/icons/famila_nordost.svg
  contribs/icons/glooko.png
  contribs/icons/glooko.svg
  contribs/icons/heat_it.png
  contribs/icons/heat_it.svg
  contribs/icons/microsoft_mahjong.png
  contribs/icons/microsoft_mahjong.svg
  contribs/icons/milon_me.png
  contribs/icons/milon_me.svg
  contribs/icons/morgenfund.png
  contribs/icons/morgenfund.svg
  contribs/icons/mylife_camaps.png
  contribs/icons/mylife_camaps.svg
  contribs/icons/neotaste.png
  contribs/icons/neotaste.svg
  contribs/icons/netto.png
  contribs/icons/netto.svg
  contribs/icons/widget_sunrise_sunset.png
  contribs/icons/widget_sunrise_sunset.svg
Labels: icons

#948 add icons&componentinfo
  contribs/icons.yml
  contribs/icons/audials.png
  contribs/icons/audials.svg
  contribs/icons/autocad.png
  contribs/icons/autocad.svg
  contribs/icons/bankid.png
  contribs/icons/bankid.svg
  contribs/icons/bjenaun.png
  contribs/icons/bjenaun.svg
  contribs/icons/budapestgo.png
  contribs/icons/budapestgo.svg
  contribs/icons/caf_mon_compte.png
  contribs/icons/caf_mon_compte.svg
  contribs/icons/claude.png
  contribs/icons/claude.svg
  contribs/icons/coros.png
  contribs/icons/coros.svg
  contribs/icons/cymmetry_verify.png
  contribs/icons/cymmetry_verify.svg
  contribs/icons/dexcom_g6.png
  contribs/icons/dexcom_g6.svg
  contribs/icons/dmrc_momentum.png
  contribs/icons/dmrc_momentum.svg
  contribs/icons/google_weather.png
  contribs/icons/google_weather.svg
  contribs/icons/komikku.png
  contribs/icons/komikku.svg
  contribs/icons/my_dhl.png
  contribs/icons/my_dhl.svg
  contribs/icons/my_finances.png
  contribs/icons/my_finances.svg
  contribs/icons/nice_gomobile.png
  contribs/icons/nice_gomobile.svg
  contribs/icons/petal_maps.png
  contribs/icons/petal_maps.svg
  contribs/icons/setel.png
  contribs/icons/setel.svg
  contribs/icons/termone_plus.png
  contribs/icons/termone_plus.svg
  contribs/icons/tp_link_deco.png
  contribs/icons/tp_link_deco.svg
  contribs/icons/trebel.png
  contribs/icons/trebel.svg
  contribs/icons/urban_vpn.png
  contribs/icons/urban_vpn.svg
  contribs/icons/velib.png
  contribs/icons/velib.svg
Labels: icons, compinfos

#949 Add 3 new icons
  contribs/icons.yml
  contribs/icons/gps_joystick.png
  contribs/icons/gps_joystick.svg
  contribs/icons/myptptn.png
  contribs/icons/myptptn.svg
  contribs/icons/myyes.png
  contribs/icons/myyes.svg
Labels: icons

#950 Update candybar&candybar-foss to 3.20.3
  app/build.gradle
  build.gradle
Labels: misc

#952 added 2 icons
  contribs/icons.yml
  contribs/icons/fall_guys.png
  contribs/icons/fall_guys.svg
  contribs/icons/skru.png
  contribs/icons/skru.svg
Labels: icons, compinfos

#953 Add icon for PG19
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/_19.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/_19.svg
Labels: icons

#955 Add 3 icons and Update icons.yml
  contribs/icons.yml
  contribs/icons/nothing_icon_pack.png
  contribs/icons/nothing_icon_pack.svg
  contribs/icons/santa_alc.png
  contribs/icons/santa_alc.svg
Labels: icons, compinfos

#956 add icons&componentinfo
  .github/images/contributors/leonarrdo.png
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/arcanechat.png
  contribs/icons/arcanechat.svg
  contribs/icons/auto_pickup.png
  contribs/icons/auto_pickup.svg
  contribs/icons/baridi_mob.png
  contribs/icons/baridi_mob.svg
  contribs/icons/e_paiment.png
  contribs/icons/e_paiment.svg
  contribs/icons/extinguish.png
  contribs/icons/extinguish.svg
  contribs/icons/film_time.png
  contribs/icons/film_time.svg
  contribs/icons/lyrion.png
  contribs/icons/lyrion.svg
  contribs/icons/mangamello.png
  contribs/icons/mangamello.svg
  contribs/icons/my_idoom.png
  contribs/icons/my_idoom.svg
  contribs/icons/notepad_notes.png
  contribs/icons/notepad_notes.svg
  contribs/icons/numero.png
  contribs/icons/numero.svg
  contribs/icons/pythagorea.png
  contribs/icons/pythagorea.svg
  contribs/icons/recorder_studio_lite.png
  contribs/icons/recorder_studio_lite.svg
  contribs/icons/sanmer_authenticator.png
  contribs/icons/sanmer_authenticator.svg
  contribs/icons/sanmer_github_artifacts.png
  contribs/icons/sanmer_github_artifacts.svg
  contribs/icons/sanmer_pi.png
  contribs/icons/sanmer_pi.svg
  contribs/icons/webcapture.png
  contribs/icons/webcapture.svg
  contribs/icons/webmoney_keeper.png
  contribs/icons/webmoney_keeper.svg
  contribs/icons/webmoney_keeper_alt_1.png
  contribs/icons/webmoney_keeper_alt_1.svg
Labels: icons, compinfos

#957 add icons&componentinfo
  app/src/main/res/values/dashboard_configurations.xml
  contribs/icons.yml
  contribs/icons/afk_journey.png
  contribs/icons/afk_journey.svg
  contribs/icons/dayforce.png
  contribs/icons/dayforce.svg
  contribs/icons/digitales_amt.png
  contribs/icons/digitales_amt.svg
  contribs/icons/music_speed_changer.png
  contribs/icons/music_speed_changer.svg
  contribs/icons/ogn_ar_viewer.png
  contribs/icons/ogn_ar_viewer.svg
  contribs/icons/point.png
  contribs/icons/point.svg
  contribs/icons/redotpay.png
  contribs/icons/redotpay.svg
  contribs/icons/redotpay_alt_1.png
  contribs/icons/redotpay_alt_1.svg
  contribs/icons/regina_maria.png
  contribs/icons/regina_maria.svg
  contribs/icons/s_mobiili.png
  contribs/icons/s_mobiili.svg
  contribs/icons/siyuan.png
  contribs/icons/siyuan.svg
  contribs/icons/solo_leveling_arise.png
  contribs/icons/solo_leveling_arise.svg
  contribs/icons/twili_recipes.png
  contribs/icons/twili_recipes.svg
  contribs/icons/ukg_dimensions.png
  contribs/icons/ukg_dimensions.svg
  contribs/icons/whatsave.png
  contribs/icons/whatsave.svg
Labels: icons, compinfos

#958 Add icons&componentinfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/apple_music_classical.png
  contribs/icons/apple_music_classical.svg
  contribs/icons/aurora_pass.png
  contribs/icons/aurora_pass.svg
  contribs/icons/autobarcode.png
  contribs/icons/autobarcode.svg
  contribs/icons/boursobank.png
  contribs/icons/boursobank.svg
  contribs/icons/edenred_plus.png
  contribs/icons/edenred_plus.svg
  contribs/icons/etesync_notes.png
  contribs/icons/etesync_notes.svg
  contribs/icons/fiction_reborn.png
  contribs/icons/fiction_reborn.svg
  contribs/icons/graphhopper_maps.png
  contribs/icons/graphhopper_maps.svg
  contribs/icons/haraj.png
  contribs/icons/haraj.svg
  contribs/icons/hollow_knight.png
  contribs/icons/hollow_knight.svg
  contribs/icons/identite_numerique_la_poste.png
  contribs/icons/identite_numerique_la_poste.svg
  contribs/icons/juventus.png
  contribs/icons/juventus.svg
  contribs/icons/notepad_spend_apps.png
  contribs/icons/notepad_spend_apps.svg
  contribs/icons/nothing_icon_pack_adaptive.png
  contribs/icons/nothing_icon_pack_adaptive.svg
  contribs/icons/printify.png
  contribs/icons/printify.svg
  contribs/icons/regal.png
  contribs/icons/regal.svg
  contribs/icons/retro_mode_icon_pack.png
  contribs/icons/retro_mode_icon_pack.svg
  contribs/icons/salaam.png
  contribs/icons/salaam.svg
  contribs/icons/trn.png
  contribs/icons/trn.svg
  contribs/icons/wasted.png
  contribs/icons/wasted.svg
  contribs/icons/weeabooify.png
  contribs/icons/weeabooify.svg
  contribs/icons/xfinity.png
  contribs/icons/xfinity.svg
Labels: icons, compinfos

#959 Add icons&componentinfo
  contribs/icons.yml
  contribs/icons/_1track.png
  contribs/icons/_1track.svg
  contribs/icons/banafo_transcript.png
  contribs/icons/banafo_transcript.svg
  contribs/icons/chuchel.png
  contribs/icons/chuchel.svg
  contribs/icons/clickshare.png
  contribs/icons/clickshare.svg
  contribs/icons/fucks_given.png
  contribs/icons/fucks_given.svg
  contribs/icons/maxrewards.png
  contribs/icons/maxrewards.svg
  contribs/icons/my_aurora_forecast.png
  contribs/icons/my_aurora_forecast.svg
  contribs/icons/screenie.png
  contribs/icons/screenie.svg
  contribs/icons/snapper_mobile.png
  contribs/icons/snapper_mobile.svg
  contribs/icons/square_invoices.png
  contribs/icons/square_invoices.svg
  contribs/icons/ten_ten.png
  contribs/icons/ten_ten.svg
  contribs/icons/unieuro.png
  contribs/icons/unieuro.svg
Labels: icons, compinfos

#960 Add first_aid ComponentInfos
  contribs/icons.yml
Labels: compinfos

#961 new stuff
  contribs/icons.yml
  contribs/icons/apktool_m.png
  contribs/icons/apktool_m.svg
  contribs/icons/exiftool.png
  contribs/icons/exiftool.svg
  contribs/icons/gosuslugi_key.png
  contribs/icons/gosuslugi_key.svg
  contribs/icons/habr.png
  contribs/icons/habr.svg
  contribs/icons/hiddify.png
  contribs/icons/hiddify.svg
  contribs/icons/sogaz.png
  contribs/icons/sogaz.svg
  contribs/icons/update_locker.png
  contribs/icons/update_locker.svg
  contribs/icons/yoo_kassa.png
  contribs/icons/yoo_kassa.svg
Labels: icons, compinfos

#962 Add additional ComponentInfos for malwarebytes
  contribs/icons.yml
Labels: compinfos

#963 Add icons&compentinfo
  contribs/icons.yml
  contribs/icons/accident_book.png
  contribs/icons/accident_book.svg
  contribs/icons/ambulance_victoria.png
  contribs/icons/ambulance_victoria.svg
  contribs/icons/animestream.png
  contribs/icons/animestream.svg
  contribs/icons/antisplit_m.png
  contribs/icons/antisplit_m.svg
  contribs/icons/banrisul.png
  contribs/icons/banrisul.svg
  contribs/icons/beautycam.png
  contribs/icons/beautycam.svg
  contribs/icons/blurrr.png
  contribs/icons/blurrr.svg
  contribs/icons/cpu_info.png
  contribs/icons/cpu_info.svg
  contribs/icons/daily_board.png
  contribs/icons/daily_board.svg
  contribs/icons/darwinbox.png
  contribs/icons/darwinbox.svg
  contribs/icons/file_explorer_compose.png
  contribs/icons/file_explorer_compose.svg
  contribs/icons/hattrick.png
  contribs/icons/hattrick.svg
  contribs/icons/lifetap.png
  contribs/icons/lifetap.svg
  contribs/icons/sengled_home.png
  contribs/icons/sengled_home.svg
  contribs/icons/snapcast.png
  contribs/icons/snapcast.svg
  contribs/icons/x_icon_changer.png
  contribs/icons/x_icon_changer.svg
Labels: icons, compinfos

#964 Update ComponentInfo & Delete duplicate entry
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
Labels: compinfos

#965 Add icon for BWS
  contribs/icons.yml
  contribs/icons/bws.png
  contribs/icons/bws.svg
Labels: icons

#966 add icons premium request
  contribs/icons.yml
  contribs/icons/datev_smart_login.png
  contribs/icons/datev_smart_login.svg
  contribs/icons/datev_upload_mobil.png
  contribs/icons/datev_upload_mobil.svg
  contribs/icons/deutschlandticket_de_app.png
  contribs/icons/deutschlandticket_de_app.svg
  contribs/icons/technisat_connect.png
  contribs/icons/technisat_connect.svg
  contribs/icons/warframe_market.png
  contribs/icons/warframe_market.svg
Labels: icons

#967 Add icons&componentinfo
  contribs/icons.yml
  contribs/icons/access_by_kai.png
  contribs/icons/access_by_kai.svg
  contribs/icons/dna_launcher.png
  contribs/icons/dna_launcher.svg
  contribs/icons/ecovacs_home.png
  contribs/icons/ecovacs_home.svg
  contribs/icons/farhan.png
  contribs/icons/farhan.svg
  contribs/icons/geode.png
  contribs/icons/geode.svg
  contribs/icons/jbl_partybox.png
  contribs/icons/jbl_partybox.svg
  contribs/icons/mb_bank.png
  contribs/icons/mb_bank.svg
  contribs/icons/qatar_airways.png
  contribs/icons/qatar_airways.svg
  contribs/icons/qatar_airways_alt_1.png
  contribs/icons/qatar_airways_alt_1.svg
  contribs/icons/star_wars_galaxy_of_heroes.png
  contribs/icons/star_wars_galaxy_of_heroes.svg
  contribs/icons/thrift_savings_plan.png
  contribs/icons/thrift_savings_plan.svg
  contribs/icons/wiz_connected.png
  contribs/icons/wiz_connected.svg
  contribs/icons/zigi.png
  contribs/icons/zigi.svg
Labels: icons, compinfos

#968 Add icons&componentinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/dmrc_momentum.png
  app/src/main/res/drawable-nodpi/easter_eggs.png
  app/src/main/res/drawable-nodpi/easter_eggs_alt_1.png
  app/src/main/res/drawable-nodpi/easter_eggs_alt_2.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/amboss_knowledge.png
  contribs/icons/amboss_knowledge.svg
  contribs/icons/arena_breakout.png
  contribs/icons/arena_breakout.svg
  contribs/icons/avant.png
  contribs/icons/avant.svg
  contribs/icons/banrural.png
  contribs/icons/banrural.svg
  contribs/icons/bdo_pay.png
  contribs/icons/bdo_pay.svg
  contribs/icons/bookfusion.png
  contribs/icons/bookfusion.svg
  contribs/icons/carb_manager.png
  contribs/icons/carb_manager.svg
  contribs/icons/chance.png
  contribs/icons/chance.svg
  contribs/icons/citrine.png
  contribs/icons/citrine.svg
  contribs/icons/dollphone_icon_pack.png
  contribs/icons/dollphone_icon_pack.svg
  contribs/icons/fazilet_calendar.png
  contribs/icons/fazilet_calendar.svg
  contribs/icons/glinet.png
  contribs/icons/glinet.svg
  contribs/icons/hios_launcher.png
  contribs/icons/hios_launcher.svg
  contribs/icons/hornbach.png
  contribs/icons/hornbach.svg
  contribs/icons/minion_rush.png
  contribs/icons/minion_rush.svg
  contribs/icons/monito_expense_manager.png
  contribs/icons/monito_expense_manager.svg
  contribs/icons/mynetdiary.png
  contribs/icons/mynetdiary.svg
  contribs/icons/nfc_card_emulator.png
  contribs/icons/nfc_card_emulator.svg
  contribs/icons/online_portal_appfolio.png
  contribs/icons/online_portal_appfolio.svg
  contribs/icons/rank_my_favs.png
  contribs/icons/rank_my_favs.svg
  contribs/icons/sefaria.png
  contribs/icons/sefaria.svg
  contribs/icons/stride.png
  contribs/icons/stride.svg
  contribs/icons/vpass.png
  contribs/icons/vpass.svg
  contribs/icons/willy_weather.png
  contribs/icons/willy_weather.svg
  resources/vectors/dmrc_momentum.svg
  resources/vectors/easter_eggs.svg
  resources/vectors/easter_eggs_alt_1.svg
  resources/vectors/easter_eggs_alt_2.svg
Labels: icons, compinfos
