Repository Delta-Icons/android, pull requests merged in 2025-02, with the labels that each got.

#1099 add/fix missing icons/compinfos
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/al_quran_indonesia.png
  app/src/main/res/drawable-nodpi/decolar.png
  app/src/main/res/drawable-nodpi/hex.png
  app/src/main/res/drawable-nodpi/lsposed_manager_alt.png
  app/src/main/res/drawable-nodpi/lsposed_manager_alt_1.png
  app/src/main/res/drawable-nodpi/microsoft_auth_alt.png
  app/src/main/res/drawable-nodpi/microsoft_auth_alt_1.png
  app/src/main/res/drawable-nodpi/quran_indonesia.png
  app/src/main/res/drawable-nodpi/quran_indopak.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/requests.yml
Labels: icons, compinfos

#1100 Fix icon link for nib
  contribs/icons.yml
Labels: compinfos

#1102 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/phanpy.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/ciyue.png
  contribs/icons/ciyue.svg
  contribs/icons/eidetic.png
  contribs/icons/eidetic.svg
  contribs/icons/exerprise_workout_meal_planner.png
  contribs/icons/exerprise_workout_meal_planner.svg
  contribs/icons/fintunes.png
  contribs/icons/fintunes.svg
  contribs/icons/habit_maker.png
  contribs/icons/habit_maker.svg
  contribs/icons/keysh.png
  contribs/icons/keysh.svg
  contribs/icons/little_caesars.png
  contribs/icons/little_caesars.svg
  contribs/icons/nfcgate.png
  contribs/icons/nfcgate.svg
  contribs/icons/open_alert_viewer.png
  contribs/icons/open_alert_viewer.svg
  contribs/icons/pimsleur.png
  contribs/icons/pimsleur.svg
  contribs/icons/plane_finder.png
  contribs/icons/plane_finder.svg
  contribs/icons/rivo.png
  contribs/icons/rivo.svg
  contribs/icons/sound_remote.png
  contribs/icons/sound_remote.svg
  contribs/icons/vesync.png
  contribs/icons/vesync.svg
  contribs/icons/wonder_fridge.png
  contribs/icons/wonder_fridge.svg
  contribs/icons/woot.png
  contribs/icons/woot.svg
  resources/vectors/phanpy.svg
Labels: icons, compinfos

#1104 Add 4 icons & Update ComponentInfo
  contribs/icons.yml
  contribs/icons/au_pay.png
  contribs/icons/au_pay.svg
  contribs/icons/jre_bank.png
  contribs/icons/jre_bank.svg
  contribs/icons/jre_point.png
  contribs/icons/jre_point.svg
  contribs/icons/tidy_drive.png
  contribs/icons/tidy_drive.svg
Labels: icons, compinfos

#1108 Good Lock App filter update + Notein Icon + VLC Debug/Nightly Icon
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/notein.png
  contribs/icons/notein.svg
  contribs/icons/vlc_nightly.png
  contribs/icons/vlc_nightly.svg
Labels: icons, compinfos

#1109 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/dhaaga_lite.png
  contribs/icons/dhaaga_lite.svg
  contribs/icons/goguma.png
  contribs/icons/goguma.svg
  contribs/icons/opencalc.png
  contribs/icons/opencalc.svg
  contribs/icons/perceived_stress_scale.png
  contribs/icons/perceived_stress_scale.svg
  contribs/icons/polaris.png
  contribs/icons/polaris.svg
  contribs/icons/sefirah.png
  contribs/icons/sefirah.svg
  contribs/icons/shockalarm.png
  contribs/icons/shockalarm.svg
  contribs/icons/traced_it.png
  contribs/icons/traced_it.svg
Labels: icons, compinfos

#1110 Update PiliPala componentinfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1111 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/alchemiconpack.png
  contribs/icons/alchemiconpack.svg
  contribs/icons/chessify.png
  contribs/icons/chessify.svg
  contribs/icons/currency_exchange_rates.png
  contribs/icons/currency_exchange_rates.svg
  contribs/icons/dicio.png
  contribs/icons/dicio.svg
  contribs/icons/dunk_city_dynasty.png
  contribs/icons/dunk_city_dynasty.svg
  contribs/icons/guava.png
  contribs/icons/guava.svg
  contribs/icons/motogp_racing.png
  contribs/icons/motogp_racing.svg
  contribs/icons/mymoney.png
  contribs/icons/mymoney.svg
  contribs/icons/octopus_authenticator.png
  contribs/icons/octopus_authenticator.svg
  contribs/icons/phone_pe_business.png
  contribs/icons/phone_pe_business.svg
  contribs/icons/pnb_digital.png
  contribs/icons/pnb_digital.svg
  contribs/icons/private_dns_quick_setting.png
  contribs/icons/private_dns_quick_setting.svg
Labels: icons, compinfos

#1113 Add 10 icons
  contribs/icons.yml
  contribs/icons/divider.png
  contribs/icons/divider.svg
  contribs/icons/encryptionapp.png
  contribs/icons/encryptionapp.svg
  contribs/icons/hubspot.png
  contribs/icons/hubspot.svg
  contribs/icons/playerpro_kk_skin.png
  contribs/icons/playerpro_kk_skin.svg
  contribs/icons/portal_pasazera.png
  contribs/icons/portal_pasazera.svg
  contribs/icons/prezzi_benzina.png
  contribs/icons/prezzi_benzina.svg
  contribs/icons/rollo_rush.png
  contribs/icons/rollo_rush.svg
  contribs/icons/route.png
  contribs/icons/route.svg
  contribs/icons/total_commander_onedrive_plugin.png
  contribs/icons/total_commander_onedrive_plugin.svg
  contribs/icons/tracktrace_thailand_post.png
  contribs/icons/tracktrace_thailand_post.svg
Labels: icons, compinfos

#1115 new stuff
  .github/scripts/bump_version.py
  .github/scripts/create_changelog.py
  .github/workflows/build_foss.yml
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/tele2_ru_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/benchapp.png
  contribs/icons/benchapp.svg
  contribs/icons/chelindbank.png
  contribs/icons/chelindbank.svg
  contribs/icons/fairwinds.png
  contribs/icons/fairwinds.svg
  contribs/icons/sena_motorcycles.png
  contribs/icons/sena_motorcycles.svg
  contribs/icons/tele2_ru.png
  contribs/icons/tele2_ru.svg
  contribs/icons/tenchat.png
  contribs/icons/tenchat.svg
  contribs/requests.yml
  resources/vectors/tele2_ru_alt_1.svg
Labels: icons, compinfos, misc

#1116 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/apple_tv.png
  contribs/icons/apple_tv.svg
  contribs/icons/circle_to_search.png
  contribs/icons/circle_to_search.svg
  contribs/icons/jkb_mpay_delight.png
  contribs/icons/jkb_mpay_delight.svg
  contribs/icons/mensa.png
  contribs/icons/mensa.svg
  contribs/icons/noting_notes.png
  contribs/icons/noting_notes.svg
  contribs/icons/one_score.png
  contribs/icons/one_score.svg
  contribs/icons/porter.png
  contribs/icons/porter.svg
  contribs/icons/reterminal.png
  contribs/icons/reterminal.svg
  contribs/icons/scrcpy_for_android.png
  contribs/icons/scrcpy_for_android.svg
  contribs/icons/stacked.png
  contribs/icons/stacked.svg
Labels: icons, compinfos

#1117 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/eurosport.png
  app/src/main/res/drawable-nodpi/eurosport_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/cox.png
  contribs/icons/cox.svg
  contribs/icons/everwash.png
  contribs/icons/everwash.svg
  contribs/icons/fluyo.png
  contribs/icons/fluyo.svg
  contribs/icons/hereprint.png
  contribs/icons/hereprint.svg
  contribs/icons/lj_video_downloader.png
  contribs/icons/lj_video_downloader.svg
  contribs/icons/mini.png
  contribs/icons/mini.svg
  contribs/icons/nottiled.png
  contribs/icons/nottiled.svg
  contribs/icons/tropical_smoothie_cafe.png
  contribs/icons/tropical_smoothie_cafe.svg
  resources/vectors/eurosport.svg
Labels: icons, compinfos

#1118 redomi appfilter update
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1119 new stuff
  .github/workflows/build_all.yml
  app/src/main/res/drawable-nodpi/amnezia_vpn_alt_1.png
  contribs/icons.yml
  contribs/icons/amnezia_wg.png
  contribs/icons/amnezia_wg.svg
  contribs/icons/amnezia_wg_alt_1.png
  contribs/icons/amnezia_wg_alt_1.svg
  resources/vectors/amnezia_vpn_alt_1.svg
Labels: icons, compinfos, misc

#1120 Add icons+ comp info, updated comp info
  contribs/icons.yml
  contribs/icons/csob_ceb.png
  contribs/icons/csob_ceb.svg
  contribs/icons/csob_klic.png
  contribs/icons/csob_klic.svg
  contribs/icons/csob_smart.png
  contribs/icons/csob_smart.svg
Labels: icons, compinfos

#1121 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/maid.png
  app/src/main/res/drawable-nodpi/maid_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/adresilo.png
  contribs/icons/adresilo.svg
  contribs/icons/app_search.png
  contribs/icons/app_search.svg
  contribs/icons/assignr.png
  contribs/icons/assignr.svg
  contribs/icons/breakout_71.png
  contribs/icons/breakout_71.svg
  contribs/icons/ctpi.png
  contribs/icons/ctpi.svg
  contribs/icons/gluten_dude.png
  contribs/icons/gluten_dude.svg
  contribs/icons/gva_nieuws.png
  contribs/icons/gva_nieuws.svg
  contribs/icons/harvard_business_review.png
  contribs/icons/harvard_business_review.svg
  contribs/icons/jdownloader_remote_control.png
  contribs/icons/jdownloader_remote_control.svg
  contribs/icons/mfine.png
  contribs/icons/mfine.svg
  contribs/icons/mysss.png
  contribs/icons/mysss.svg
  contribs/icons/noteshub.png
  contribs/icons/noteshub.svg
  contribs/icons/notvpn.png
  contribs/icons/notvpn.svg
  contribs/icons/qoqa.png
  contribs/icons/qoqa.svg
  contribs/icons/tip_calculator.png
  contribs/icons/tip_calculator.svg
  contribs/icons/u_next.png
  contribs/icons/u_next.svg
  contribs/icons/whatsapp_cleaner.png
  contribs/icons/whatsapp_cleaner.svg
  resources/vectors/maid.svg
  resources/vectors/maid_alt_1.svg
Labels: icons, compinfos
