Repository Delta-Icons/android, pull requests merged in 2025-06, with the labels that each got.

#1193 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/yemeksepeti.png
  app/src/main/res/drawable-nodpi/yemeksepeti_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/atrium_campus_connect.png
  contribs/icons/atrium_campus_connect.svg
  contribs/icons/boat_progear.png
  contribs/icons/boat_progear.svg
  contribs/icons/frontier_airlines.png
  contribs/icons/frontier_airlines.svg
  contribs/icons/gold_gym_dc_metro.png
  contribs/icons/gold_gym_dc_metro.svg
  contribs/icons/jio_hostar.png
  contribs/icons/jio_hostar.svg
  contribs/icons/katawa_shoujo_re_engineered.png
  contribs/icons/katawa_shoujo_re_engineered.svg
  contribs/icons/mason_360.png
  contribs/icons/mason_360.svg
  contribs/icons/minutiae.png
  contribs/icons/minutiae.svg
  contribs/icons/my_mesh.png
  contribs/icons/my_mesh.svg
  contribs/icons/paycell.png
  contribs/icons/paycell.svg
  contribs/icons/pdf_wallet.png
  contribs/icons/pdf_wallet.svg
  contribs/icons/telepass.png
  contribs/icons/telepass.svg
  resources/vectors/yemeksepeti.svg
  resources/vectors/yemeksepeti_alt_1.svg
Labels: icons, compinfos

#1194 Fix icon links
  contribs/icons.yml
Labels: compinfos

#1195 Update 1 icon, fix 1 ComponentInfo, fix 1 icon
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/bolt.png
  app/src/main/res/drawable-nodpi/wise.png
  app/src/main/res/drawable-nodpi/wise_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/bolt.svg
  resources/vectors/wise.svg
  resources/vectors/wise_alt_1.svg
Labels: icons, compinfos

#1196 Fix 1 more ComponentInfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1201 Add icons&compinfo
  app/src/main/res/drawable-nodpi/android_system_webview.png
  contribs/icons.yml
  contribs/icons/android_kitkat_challenge.png
  contribs/icons/android_kitkat_challenge.svg
  contribs/icons/assistant_for_no_mans_sky.png
  contribs/icons/assistant_for_no_mans_sky.svg
  contribs/icons/bar_burrito.png
  contribs/icons/bar_burrito.svg
  contribs/icons/churchs_texas_chicken.png
  contribs/icons/churchs_texas_chicken.svg
  contribs/icons/deltatraveller.png
  contribs/icons/deltatraveller.svg
  contribs/icons/google_play_billing_lab.png
  contribs/icons/google_play_billing_lab.svg
  contribs/icons/hand_talk.png
  contribs/icons/hand_talk.svg
  contribs/icons/inter.png
  contribs/icons/inter.svg
  contribs/icons/kigo.png
  contribs/icons/kigo.svg
  contribs/icons/kone_car_designer.png
  contribs/icons/kone_car_designer.svg
  contribs/icons/myvicroads.png
  contribs/icons/myvicroads.svg
  contribs/icons/site_audit_pro.png
  contribs/icons/site_audit_pro.svg
  contribs/icons/tiktok_studio.png
  contribs/icons/tiktok_studio.svg
  contribs/icons/ukg_pro.png
  contribs/icons/ukg_pro.svg
  contribs/icons/wiim_home.png
  contribs/icons/wiim_home.svg
  resources/vectors/android_system_webview.svg
Labels: icons, compinfos

#1204 Fix ComponentInfo for Barclays
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1205 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/blisslights.png
  contribs/icons/blisslights.svg
  contribs/icons/bma.png
  contribs/icons/bma.svg
  contribs/icons/clabel_trade.png
  contribs/icons/clabel_trade.svg
  contribs/icons/grow_with_jane.png
  contribs/icons/grow_with_jane.svg
  contribs/icons/inps_mobile.png
  contribs/icons/inps_mobile.svg
  contribs/icons/miodottore.png
  contribs/icons/miodottore.svg
  contribs/icons/my_cofidis.png
  contribs/icons/my_cofidis.svg
  contribs/icons/mybrt.png
  contribs/icons/mybrt.svg
  contribs/icons/nescafe_dolce_gusto.png
  contribs/icons/nescafe_dolce_gusto.svg
  contribs/icons/nnotes.png
  contribs/icons/nnotes.svg
  contribs/icons/switchai.png
  contribs/icons/switchai.svg
  contribs/icons/sysh.png
  contribs/icons/sysh.svg
  contribs/icons/toscana_salute.png
  contribs/icons/toscana_salute.svg
  contribs/icons/underground_barber.png
  contribs/icons/underground_barber.svg
Labels: icons, compinfos

#1206 add 2 icons with compinfo
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/animetint.png
  contribs/icons/animetint.svg
  contribs/icons/wakepoint.png
  contribs/icons/wakepoint.svg
Labels: icons, compinfos

#1207 new stuff
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/myshows.png
  contribs/icons/myshows.svg
Labels: icons, compinfos, misc

#1211 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/balloon_meditation.png
  contribs/icons/balloon_meditation.svg
  contribs/icons/digitec.png
  contribs/icons/digitec.svg
  contribs/icons/discoverium.png
  contribs/icons/discoverium.svg
  contribs/icons/dreamehome.png
  contribs/icons/dreamehome.svg
  contribs/icons/gymbarspro.png
  contribs/icons/gymbarspro.svg
  contribs/icons/jellyseerr_mobile.png
  contribs/icons/jellyseerr_mobile.svg
  contribs/icons/scriptic_netflix_edition.png
  contribs/icons/scriptic_netflix_edition.svg
  contribs/icons/webuix_portable.png
  contribs/icons/webuix_portable.svg
  contribs/icons/yuh.png
  contribs/icons/yuh.svg
Labels: icons, compinfos

#1212 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/birthday_calendar.png
  contribs/icons/birthday_calendar.svg
  contribs/icons/levels_fyi.png
  contribs/icons/levels_fyi.svg
  contribs/icons/seattle_yellow_cab.png
  contribs/icons/seattle_yellow_cab.svg
  contribs/icons/the_seattle_times.png
  contribs/icons/the_seattle_times.svg
Labels: icons, compinfos

#1215 Fix Sonos text color
  app/src/main/res/drawable-nodpi/sonos.png
  resources/vectors/figma/sonos.svg
Labels: icons

#1216 Add new compinfo for Yatri
  contribs/icons.yml
Labels: compinfos

#1219 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/cake_wallet.png
  app/src/main/res/drawable-nodpi/cake_wallet_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/movieboxpro.png
  contribs/icons/movieboxpro.svg
  contribs/icons/ob_wheel.png
  contribs/icons/ob_wheel.svg
  contribs/icons/rhythm.png
  contribs/icons/rhythm.svg
  contribs/icons/vivi.png
  contribs/icons/vivi.svg
  resources/vectors/cake_wallet.svg
  resources/vectors/cake_wallet_alt_1.svg
Labels: icons, compinfos
