Repository Delta-Icons/android, pull requests merged in 2025-08, with the labels that each got.

#1239 Enable gradle configuration cache
  gradle.properties
Labels: optimization

#1240 new stuff
  contribs/icons.yml
  contribs/icons/autodoc_ru.png
  contribs/icons/autodoc_ru.svg
  contribs/icons/cna.png
  contribs/icons/cna.svg
  contribs/icons/gosuslugi_pos.png
  contribs/icons/gosuslugi_pos.svg
  contribs/icons/hay.png
  contribs/icons/hay.svg
  contribs/icons/kinestop.png
  contribs/icons/kinestop.svg
  contribs/icons/kris_plus.png
  contribs/icons/kris_plus.svg
  contribs/icons/lemana.png
  contribs/icons/lemana.svg
  contribs/icons/mind_space.png
  contribs/icons/mind_space.svg
  contribs/icons/otp_bank.png
  contribs/icons/otp_bank.svg
  contribs/icons/uralsbyt.png
  contribs/icons/uralsbyt.svg
  contribs/icons/wildberries_courier.png
  contribs/icons/wildberries_courier.svg
Labels: icons, compinfos

#1241 new 6 premium request icons
  contribs/icons.yml
  contribs/icons/autozone.png
  contribs/icons/autozone.svg
  contribs/icons/better_buzz.png
  contribs/icons/better_buzz.svg
  contribs/icons/hims.png
  contribs/icons/hims.svg
  contribs/icons/large_text_signboard.png
  contribs/icons/large_text_signboard.svg
  contribs/icons/notes_pin.png
  contribs/icons/notes_pin.svg
  contribs/icons/packmate.png
  contribs/icons/packmate.svg
Labels: icons, compinfos

#1244 added 1 new icon
  contribs/icons.yml
  contribs/icons/currency_converter.png
  contribs/icons/currency_converter.svg
Labels: icons

#1243 new icons
  contribs/icons.yml
  contribs/icons/yatri_sathi.png
  contribs/icons/yatri_sathi.svg
Labels: icons

#1246 Add 9 app icons & Update ComponentInfo
  contribs/icons.yml
  contribs/icons/daiso.png
  contribs/icons/daiso.svg
  contribs/icons/kura_sushi.png
  contribs/icons/kura_sushi.svg
  contribs/icons/listeningtrainer.png
  contribs/icons/listeningtrainer.svg
  contribs/icons/moekey.png
  contribs/icons/moekey.svg
  contribs/icons/pokepay.png
  contribs/icons/pokepay.svg
  contribs/icons/povo_2.png
  contribs/icons/povo_2.svg
  contribs/icons/radiko.png
  contribs/icons/radiko.svg
  contribs/icons/sumire_keyboard.png
  contribs/icons/sumire_keyboard.svg
  contribs/icons/univ_coop.png
  contribs/icons/univ_coop.svg
Labels: icons, compinfos

#1247 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/nothing_glyphify.png
  app/src/main/res/drawable-nodpi/nothing_glyphify_alt_1.png
  app/src/main/res/drawable-nodpi/rethink_dns.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/_999_md.png
  contribs/icons/_999_md.svg
  contribs/icons/blood_donor.png
  contribs/icons/blood_donor.svg
  contribs/icons/draw_anywhere.png
  contribs/icons/draw_anywhere.svg
  contribs/icons/exploding_kittens_2.png
  contribs/icons/exploding_kittens_2.svg
  contribs/icons/flicky.png
  contribs/icons/flicky.svg
  contribs/icons/fluffy.png
  contribs/icons/fluffy.svg
  contribs/icons/garmin_golf.png
  contribs/icons/garmin_golf.svg
  contribs/icons/hollister.png
  contribs/icons/hollister.svg
  contribs/icons/jolt_phone.png
  contribs/icons/jolt_phone.svg
  contribs/icons/nooie.png
  contribs/icons/nooie.svg
  contribs/icons/offline_translator.png
  contribs/icons/offline_translator.svg
  contribs/icons/opendns_updater.png
  contribs/icons/opendns_updater.svg
  contribs/icons/reef.png
  contribs/icons/reef.svg
  contribs/icons/shelly_smart_control.png
  contribs/icons/shelly_smart_control.svg
  contribs/icons/squire.png
  contribs/icons/squire.svg
  contribs/icons/tata_neu.png
  contribs/icons/tata_neu.svg
  resources/vectors/nothing_glyphify.svg
  resources/vectors/nothing_glyphify_alt_1.svg
  resources/vectors/rethink_dns.svg
Labels: icons, compinfos

#1249 Fix icon link for pixel tips
  contribs/icons.yml
Labels: compinfos

#1250 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/_5g_only_network_mode.png
  contribs/icons/_5g_only_network_mode.svg
  contribs/icons/alienware_arena.png
  contribs/icons/alienware_arena.svg
  contribs/icons/amsterdam_dance_event.png
  contribs/icons/amsterdam_dance_event.svg
  contribs/icons/axmanager.png
  contribs/icons/axmanager.svg
  contribs/icons/coinswitch_bitkuber.png
  contribs/icons/coinswitch_bitkuber.svg
  contribs/icons/focus_friend.png
  contribs/icons/focus_friend.svg
  contribs/icons/home_connect.png
  contribs/icons/home_connect.svg
  contribs/icons/infinite_learn_japanese.png
  contribs/icons/infinite_learn_japanese.svg
  contribs/icons/lemon8.png
  contribs/icons/lemon8.svg
  contribs/icons/next_inspect_self_inspect.png
  contribs/icons/next_inspect_self_inspect.svg
  contribs/icons/onshape_3d_cad.png
  contribs/icons/onshape_3d_cad.svg
  contribs/icons/simplewear.png
  contribs/icons/simplewear.svg
  contribs/icons/watrify.png
  contribs/icons/watrify.svg
Labels: icons, compinfos

#1251 new stuff
  .github/scripts/add_icons.py
  .github/scripts/add_icons_wrapper.py
  .github/scripts/requests_parser.py
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/beeline_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/bazar.png
  contribs/icons/bazar.svg
  contribs/icons/beeline.png
  contribs/icons/beeline.svg
  contribs/icons/neftmagistral.png
  contribs/icons/neftmagistral.svg
  contribs/icons/nf.png
  contribs/icons/nf.svg
  contribs/icons/onebit_adventure.png
  contribs/icons/onebit_adventure.svg
  contribs/icons/termux_fingerprint.png
  contribs/icons/termux_fingerprint.svg
Labels: icons, optimization, compinfos
