Repository Delta-Icons/android, pull requests merged in 2025-05, with the labels that each got.

#1170 Fix icon link for menulog
  contribs/icons.yml
Labels: compinfos

#1171 add icons
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/nothing_weather.png
  app/src/main/res/drawable-nodpi/nothing_weather_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/choona.png
  contribs/icons/choona.svg
  contribs/icons/dmenu.png
  contribs/icons/dmenu.svg
  contribs/icons/firmalom.png
  contribs/icons/firmalom.svg
  contribs/icons/knock_on_ports.png
  contribs/icons/knock_on_ports.svg
  contribs/icons/nearby_settings.png
  contribs/icons/nearby_settings.svg
  contribs/icons/simple_fitness.png
  contribs/icons/simple_fitness.svg
  resources/vectors/nothing_weather.svg
  resources/vectors/nothing_weather_alt_1.svg
Labels: icons

#1172 added 5 new icons (+alts) & compinfo
  contribs/icons.yml
  contribs/icons/busmap.png
  contribs/icons/busmap.svg
  contribs/icons/busmap_alt_1.png
  contribs/icons/busmap_alt_1.svg
  contribs/icons/busmap_hanoi.png
  contribs/icons/busmap_hanoi.svg
  contribs/icons/busmap_hanoi_alt_1.png
  contribs/icons/busmap_hanoi_alt_1.svg
  contribs/icons/busmap_hanoi_alt_2.png
  contribs/icons/busmap_hanoi_alt_2.svg
  contribs/icons/sm_cinema.png
  contribs/icons/sm_cinema.svg
  contribs/icons/sm_malls.png
  contribs/icons/sm_malls.svg
  contribs/icons/zing.png
  contribs/icons/zing.svg
Labels: icons, compinfos

#1173 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/motorola_notifications.png
  app/src/main/res/drawable-nodpi/motorola_notifications_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/cclauncher.png
  contribs/icons/cclauncher.svg
  contribs/icons/farmacia_loreto.png
  contribs/icons/farmacia_loreto.svg
  contribs/icons/lofter.png
  contribs/icons/lofter.svg
  contribs/icons/reverse_1999.png
  contribs/icons/reverse_1999.svg
  contribs/icons/sakay_ph.png
  contribs/icons/sakay_ph.svg
  contribs/icons/tiscali_mail.png
  contribs/icons/tiscali_mail.svg
  resources/vectors/motorola_notifications.svg
  resources/vectors/motorola_notifications_alt_1.svg
Labels: icons, compinfos

#1174 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/somtoday.png
  app/src/main/res/drawable-nodpi/somtoday_alt_1.png
  app/src/main/res/drawable-nodpi/ultimate_guitar.png
  app/src/main/res/drawable-nodpi/ultimate_guitar_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/abc_listen.png
  contribs/icons/abc_listen.svg
  contribs/icons/baba.png
  contribs/icons/baba.svg
  contribs/icons/borno_bangla_keyboard.png
  contribs/icons/borno_bangla_keyboard.svg
  contribs/icons/bullet_journal.png
  contribs/icons/bullet_journal.svg
  contribs/icons/chipolo.png
  contribs/icons/chipolo.svg
  contribs/icons/gg_standoff.png
  contribs/icons/gg_standoff.svg
  contribs/icons/gotrendier.png
  contribs/icons/gotrendier.svg
  contribs/icons/liftoff_workouts.png
  contribs/icons/liftoff_workouts.svg
  contribs/icons/ring_conn.png
  contribs/icons/ring_conn.svg
  contribs/icons/service_titan_mobile.png
  contribs/icons/service_titan_mobile.svg
  resources/vectors/somtoday.svg
  resources/vectors/ultimate_guitar.svg
Labels: icons, compinfos

#1175 add icons&compinfo
  contribs/icons.yml
  contribs/icons/appkiller.png
  contribs/icons/appkiller.svg
  contribs/icons/blip.png
  contribs/icons/blip.svg
  contribs/icons/carrefour_pass.png
  contribs/icons/carrefour_pass.svg
  contribs/icons/coyote.png
  contribs/icons/coyote.svg
  contribs/icons/flinkster.png
  contribs/icons/flinkster.svg
  contribs/icons/foodora.png
  contribs/icons/foodora.svg
  contribs/icons/foss_warn.png
  contribs/icons/foss_warn.svg
  contribs/icons/geph.png
  contribs/icons/geph.svg
  contribs/icons/hitv.png
  contribs/icons/hitv.svg
  contribs/icons/kbs.png
  contribs/icons/kbs.svg
  contribs/icons/moonpay.png
  contribs/icons/moonpay.svg
  contribs/icons/octopi_launcher.png
  contribs/icons/octopi_launcher.svg
  contribs/icons/orange_tv_go.png
  contribs/icons/orange_tv_go.svg
  contribs/icons/public.png
  contribs/icons/public.svg
  contribs/icons/qwen.png
  contribs/icons/qwen.svg
  contribs/icons/runna.png
  contribs/icons/runna.svg
  contribs/icons/united_healthcare.png
  contribs/icons/united_healthcare.svg
  contribs/icons/zigzag.png
  contribs/icons/zigzag.svg
Labels: icons, compinfos

#1177 added new icon (+1 alt) & compinfo
  contribs/icons.yml
  contribs/icons/pin_board_downloader.png
  contribs/icons/pin_board_downloader.svg
  contribs/icons/pin_board_downloader_alt_1.png
  contribs/icons/pin_board_downloader_alt_1.svg
Labels: icons, compinfos

#1178 added 3 new icons & componentinfo
  contribs/icons.yml
  contribs/icons/cannes_agenda.png
  contribs/icons/cannes_agenda.svg
  contribs/icons/cannes_civique.png
  contribs/icons/cannes_civique.svg
  contribs/icons/cannes_radio.png
  contribs/icons/cannes_radio.svg
Labels: icons, compinfos

#1179 new stuff
  contribs/icons.yml
  contribs/icons/max.png
  contribs/icons/max.svg
  contribs/icons/my_mosenergosbyt.png
  contribs/icons/my_mosenergosbyt.svg
  contribs/icons/obschina.png
  contribs/icons/obschina.svg
  contribs/icons/podorozhnik_plus.png
  contribs/icons/podorozhnik_plus.svg
  contribs/icons/rosseti.png
  contribs/icons/rosseti.svg
  contribs/icons/yandex_calendar.png
  contribs/icons/yandex_calendar.svg
Labels: icons, compinfos

#1180 added 3 new icons & compinfos
  contribs/icons.yml
  contribs/icons/bun_plus.svg
  contribs/icons/bus_plus.png
  contribs/icons/pop.png
  contribs/icons/pop.svg
  contribs/icons/work_shift_calendar.png
  contribs/icons/work_shift_calendar.svg
Labels: icons, compinfos

#1182 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/aneko_reborn.png
  contribs/icons/aneko_reborn.svg
  contribs/icons/booming_music.png
  contribs/icons/booming_music.svg
  contribs/icons/find_my_family.png
  contribs/icons/find_my_family.svg
  contribs/icons/foss_wallet.png
  contribs/icons/foss_wallet.svg
  contribs/icons/open_store.png
  contribs/icons/open_store.svg
  contribs/icons/record_equalizer.png
  contribs/icons/record_equalizer.svg
Labels: icons, compinfos

#1183 fix build
  contribs/icons.yml
  contribs/icons/public_stocks.png
  contribs/icons/public_stocks.svg
Labels: misc

#1184 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/aura.png
  contribs/icons/aura.svg
  contribs/icons/desh_marathi_keyboard.png
  contribs/icons/desh_marathi_keyboard.svg
  contribs/icons/kakao_metro.png
  contribs/icons/kakao_metro.svg
  contribs/icons/open_nutri_tracker.png
  contribs/icons/open_nutri_tracker.svg
  contribs/icons/rakuten_tv.png
  contribs/icons/rakuten_tv.svg
  contribs/icons/seqular.png
  contribs/icons/seqular.svg
  contribs/icons/settings_app.png
  contribs/icons/settings_app.svg
  contribs/icons/sporza.png
  contribs/icons/sporza.svg
  contribs/icons/stepsy.png
  contribs/icons/stepsy.svg
  contribs/icons/tribit.png
  contribs/icons/tribit.svg
  contribs/icons/voi.png
  contribs/icons/voi.svg
  contribs/icons/youtube_create.png
  contribs/icons/youtube_create.svg
Labels: icons, compinfos

#1185 Fix icon link for Bupa
  contribs/icons.yml
Labels: compinfos

#1186 new stuff
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/eventbrite_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/azahar.png
  contribs/icons/azahar.svg
  contribs/icons/eventbrite.png
  contribs/icons/eventbrite.svg
  contribs/icons/fintables.png
  contribs/icons/fintables.svg
  contribs/icons/japan_airlines.png
  contribs/icons/japan_airlines.svg
  contribs/icons/navi.png
  contribs/icons/navi.svg
  contribs/icons/yonder_rewards_cards.png
  contribs/icons/yonder_rewards_cards.svg
  resources/vectors/bus_plus.svg
Labels: icons, compinfos

#1187 Add Life Bible icon
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons/life_bible.png
  contribs/icons/life_bible.svg
Labels: icons
