Repository Delta-Icons/android, pull requests merged in 2025-07, with the labels that each got.

#1220 Add new compinfo for BHIM
  contribs/icons.yml
Labels: compinfos

#1223 Fix Jio Hotstar icons
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/jio_hotstar.png
  app/src/main/res/drawable-nodpi/jio_hotstar_alt_1.png
  resources/vectors/jio_hotstar.svg
  resources/vectors/jio_hotstar_alt_1.svg
Labels: misc

#1221 Add icon for incident.io
  contribs/icons.yml
  contribs/icons/incident_io.png
  contribs/icons/incident_io.svg
Labels: icons

#1224 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/grit.png
  app/src/main/res/drawable-nodpi/grit_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/broken_sword_reforged.png
  contribs/icons/broken_sword_reforged.svg
  contribs/icons/erlebnis_zoo_hannover.png
  contribs/icons/erlebnis_zoo_hannover.svg
  contribs/icons/rikkahub.png
  contribs/icons/rikkahub.svg
  contribs/icons/torrent_search.png
  contribs/icons/torrent_search.svg
  contribs/icons/zotero.png
  contribs/icons/zotero.svg
  resources/vectors/grit.svg
  resources/vectors/grit_alt_1.svg
Labels: icons, compinfos

#1227 Fix ComponentInfo for LHV
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1229 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/instant_gaming.png
  app/src/main/res/drawable-nodpi/instant_gaming_alt_1.png
  app/src/main/res/drawable-nodpi/premier_league.png
  app/src/main/res/drawable-nodpi/premier_league_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/airnote.png
  contribs/icons/airnote.svg
  contribs/icons/alias_vault.png
  contribs/icons/alias_vault.svg
  contribs/icons/ambient_music.png
  contribs/icons/ambient_music.svg
  contribs/icons/androoster.png
  contribs/icons/androoster.svg
  contribs/icons/app_lock_foss.png
  contribs/icons/app_lock_foss.svg
  contribs/icons/caffeinate_foss.png
  contribs/icons/caffeinate_foss.svg
  contribs/icons/comaps.png
  contribs/icons/comaps.svg
  contribs/icons/enigma_droid.png
  contribs/icons/enigma_droid.svg
  contribs/icons/focus_foss.png
  contribs/icons/focus_foss.svg
  contribs/icons/jetbird.png
  contribs/icons/jetbird.svg
  contribs/icons/launchpad.png
  contribs/icons/launchpad.svg
  contribs/icons/luci_mobile.png
  contribs/icons/luci_mobile.svg
  contribs/icons/phylum.png
  contribs/icons/phylum.svg
  contribs/icons/privacium.png
  contribs/icons/privacium.svg
  contribs/icons/rv_kernel_manager.png
  contribs/icons/rv_kernel_manager.svg
  contribs/icons/tangential.png
  contribs/icons/tangential.svg
  contribs/icons/thor.png
  contribs/icons/thor.svg
  contribs/icons/tomato.png
  contribs/icons/tomato.svg
  contribs/icons/transport_you.png
  contribs/icons/transport_you.svg
  contribs/icons/whisper_plus.png
  contribs/icons/whisper_plus.svg
  contribs/icons/wiki_frontend.png
  contribs/icons/wiki_frontend.svg
  contribs/icons/xmp_mod_player.png
  contribs/icons/xmp_mod_player.svg
  contribs/icons/ya_habit_tracker.png
  contribs/icons/ya_habit_tracker.svg
  contribs/icons/yeeemp.png
  contribs/icons/yeeemp.svg
  resources/vectors/instant_gaming.svg
  resources/vectors/instant_gaming_alt_1.svg
  resources/vectors/premier_league.svg
Labels: icons, compinfos

#1230 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/dagens_nyheter.png
  contribs/icons/dagens_nyheter.svg
  contribs/icons/nrk.png
  contribs/icons/nrk.svg
  contribs/icons/nrk_radio.png
  contribs/icons/nrk_radio.svg
  contribs/icons/nrk_tv.png
  contribs/icons/nrk_tv.svg
  contribs/icons/smhi_vader.png
  contribs/icons/smhi_vader.svg
  contribs/icons/sveriges_radio_play.png
  contribs/icons/sveriges_radio_play.svg
  contribs/icons/svt_nyheter.png
  contribs/icons/svt_nyheter.svg
Labels: icons, compinfos

#1231 new stuff (premium requests)
  contribs/icons.yml
  contribs/icons/_5ber_esim.png
  contribs/icons/_5ber_esim.svg
  contribs/icons/mnogo_lososya.png
  contribs/icons/mnogo_lososya.svg
  contribs/icons/perekrestok_vprok.png
  contribs/icons/perekrestok_vprok.svg
  contribs/icons/russian_parking.png
  contribs/icons/russian_parking.svg
  contribs/icons/x5_food.png
  contribs/icons/x5_food.svg
  contribs/icons/x5_key.png
  contribs/icons/x5_key.svg
  contribs/icons/x5_rooms.png
  contribs/icons/x5_rooms.svg
  contribs/icons/x5_sphere.png
  contribs/icons/x5_sphere.svg
  contribs/icons/yandex_shedevrum.png
  contribs/icons/yandex_shedevrum.svg
Labels: icons, compinfos

#1232 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/dashy_mobile.png
  contribs/icons/dashy_mobile.svg
  contribs/icons/hidroly.png
  contribs/icons/hidroly.svg
  contribs/icons/lumo.png
  contribs/icons/lumo.svg
  contribs/icons/philips_airplus.png
  contribs/icons/philips_airplus.svg
  contribs/icons/philips_baby_monitor_plus.png
  contribs/icons/philips_baby_monitor_plus.svg
  contribs/icons/philips_entertainment.png
  contribs/icons/philips_entertainment.svg
  contribs/icons/philips_groomtribe.png
  contribs/icons/philips_groomtribe.svg
  contribs/icons/philips_headphones.png
  contribs/icons/philips_headphones.svg
  contribs/icons/philips_home_safety.png
  contribs/icons/philips_home_safety.svg
  contribs/icons/philips_homeid.png
  contribs/icons/philips_homeid.svg
  contribs/icons/philips_homerun_robot.png
  contribs/icons/philips_homerun_robot.svg
  contribs/icons/philips_lumea_ipl.png
  contribs/icons/philips_lumea_ipl.svg
  contribs/icons/philips_oneblade.png
  contribs/icons/philips_oneblade.svg
  contribs/icons/philips_pet_series.png
  contribs/icons/philips_pet_series.svg
  contribs/icons/philips_sleepmapper.png
  contribs/icons/philips_sleepmapper.svg
  contribs/icons/philips_smart_tv.png
  contribs/icons/philips_smart_tv.svg
  contribs/icons/philips_sonicare.png
  contribs/icons/philips_sonicare.svg
  contribs/icons/philips_sonicare_for_kids.png
  contribs/icons/philips_sonicare_for_kids.svg
  contribs/icons/prequel_ai_filter.png
  contribs/icons/prequel_ai_filter.svg
Labels: icons, compinfos
