Repository Delta-Icons/android, pull requests merged in 2025-01, with the labels that each got.

#1072 Add icons
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/fossify_paint_amber.png
  app/src/main/res/drawable-nodpi/fossify_paint_blue.png
  app/src/main/res/drawable-nodpi/fossify_paint_bluegrey.png
  app/src/main/res/drawable-nodpi/fossify_paint_brown.png
  app/src/main/res/drawable-nodpi/fossify_paint_cyan.png
  app/src/main/res/drawable-nodpi/fossify_paint_deep_orange.png
  app/src/main/res/drawable-nodpi/fossify_paint_deep_purple.png
  app/src/main/res/drawable-nodpi/fossify_paint_greyblack.png
  app/src/main/res/drawable-nodpi/fossify_paint_indigo.png
  app/src/main/res/drawable-nodpi/fossify_paint_light_blue.png
  app/src/main/res/drawable-nodpi/fossify_paint_light_green.png
  app/src/main/res/drawable-nodpi/fossify_paint_lime.png
  app/src/main/res/drawable-nodpi/fossify_paint_orange.png
  app/src/main/res/drawable-nodpi/fossify_paint_pink.png
  app/src/main/res/drawable-nodpi/fossify_paint_purple.png
  app/src/main/res/drawable-nodpi/fossify_paint_red.png
  app/src/main/res/drawable-nodpi/fossify_paint_teal.png
  app/src/main/res/drawable-nodpi/fossify_paint_yellow.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/fossify_paint.png
  contribs/icons/fossify_paint.svg
  contribs/icons/life_time_digital.png
  contribs/icons/life_time_digital.svg
  contribs/icons/metrolist.png
  contribs/icons/metrolist.svg
  contribs/icons/mopria_print_service.png
  contribs/icons/mopria_print_service.svg
  contribs/icons/qrshare.png
  contribs/icons/qrshare.svg
Labels: icons

#1073 Add ComponentInfos
  contribs/icons.yml
  contribs/requests.yml
Labels: compinfos

#1074 Add 1 icon and update component info
  app/src/main/res/xml/contributors.xml
  contribs/icons.yml
  contribs/icons/dms_explorer.png
  contribs/icons/dms_explorer.svg
Labels: icons, compinfos

#1075 new stuff
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/turn_up_alt_1.png
  app/src/main/res/xml/contributors.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/drinkit.png
  contribs/icons/drinkit.svg
  contribs/icons/e_tube.png
  contribs/icons/e_tube.svg
  contribs/icons/lenta.png
  contribs/icons/lenta.svg
  contribs/icons/perekrestok.png
  contribs/icons/perekrestok.svg
  contribs/icons/sonic_dash.png
  contribs/icons/sonic_dash.svg
  contribs/icons/uchi.png
  contribs/icons/uchi.svg
  contribs/requests.yml
  resources/vectors/turn_up_alt_1.svg
Labels: icons, compinfos, misc

#1076 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/credit_karma.png
  app/src/main/res/drawable-nodpi/credit_karma_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/avnc.png
  contribs/icons/avnc.svg
  contribs/icons/cloudflare_one_agent.png
  contribs/icons/cloudflare_one_agent.svg
  contribs/icons/hidive.png
  contribs/icons/hidive.svg
  contribs/icons/john_gbac.png
  contribs/icons/john_gbac.svg
  contribs/icons/loops.png
  contribs/icons/loops.svg
  contribs/icons/memeos_enhancer.png
  contribs/icons/memeos_enhancer.svg
  contribs/icons/nothing_gallery.png
  contribs/icons/nothing_gallery.svg
  contribs/icons/nothing_kwgt.png
  contribs/icons/nothing_kwgt.svg
  contribs/icons/paypo.png
  contribs/icons/paypo.svg
  contribs/icons/phantom.png
  contribs/icons/phantom.svg
  contribs/icons/scene.png
  contribs/icons/scene.svg
  contribs/icons/screenzen.png
  contribs/icons/screenzen.svg
  contribs/icons/xposed_edge.png
  contribs/icons/xposed_edge.svg
  resources/vectors/credit_karma.svg
Labels: icons, compinfos

#1077 Add 6 icons
  contribs/icons.yml
  contribs/icons/ble_radar.png
  contribs/icons/ble_radar.svg
  contribs/icons/lines.png
  contribs/icons/lines.svg
  contribs/icons/original_sound.png
  contribs/icons/original_sound.svg
  contribs/icons/red_reader_alpha.png
  contribs/icons/red_reader_alpha.svg
  contribs/icons/twitcast.png
  contribs/icons/twitcast.svg
  contribs/icons/viabus.png
  contribs/icons/viabus.svg
Labels: icons, compinfos

#1080 Add ComponentInfo for Airalo activity
  contribs/icons.yml
Labels: compinfos

#1082 Streamyfin and Roamless icon addition
  .github/CONTRIBUTING.md
  contribs/icons.yml
  contribs/icons/roamless.png
  contribs/icons/roamless.svg
  contribs/icons/streamyfin.png
  contribs/icons/streamyfin.svg
Labels: icons

#1083 Add icons&compinfo
  app/src/main/res/drawable-nodpi/shokz.png
  contribs/icons.yml
  contribs/icons/cloudone.png
  contribs/icons/cloudone.svg
  contribs/icons/dafont.png
  contribs/icons/dafont.svg
  contribs/icons/digipost.png
  contribs/icons/digipost.svg
  contribs/icons/drops_icon_pack.png
  contribs/icons/drops_icon_pack.svg
  contribs/icons/fairbuds.png
  contribs/icons/fairbuds.svg
  contribs/icons/ffmpeg_media_encoder.png
  contribs/icons/ffmpeg_media_encoder.svg
  contribs/icons/freedom_mobile.png
  contribs/icons/freedom_mobile.svg
  contribs/icons/haystack_news.png
  contribs/icons/haystack_news.svg
  contribs/icons/honor_of_kings.png
  contribs/icons/honor_of_kings.svg
  contribs/icons/metrolink.png
  contribs/icons/metrolink.svg
  contribs/icons/pdfelement.png
  contribs/icons/pdfelement.svg
  contribs/icons/sky_tg24.png
  contribs/icons/sky_tg24.svg
  contribs/icons/smart_id.png
  contribs/icons/smart_id.svg
  resources/templates/template.svg
  resources/vectors/shokz.svg
Labels: icons, compinfos

#1084 Add new StreetCompleteEE CompInfo and CardReader icon
  contribs/icons.yml
  contribs/icons/cardreader.png
  contribs/icons/cardreader.svg
Labels: icons, compinfos

#1085 Add 2 new icons, update 1 icon
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/a_more_beautiful_journey.png
  app/src/main/res/drawable-nodpi/avion_rewards.png
  app/src/main/res/drawable-nodpi/avion_rewards_alt_1.png
  app/src/main/res/drawable-nodpi/burger_factory.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  resources/vectors/a_more_beautiful_journey.svg
  resources/vectors/avion_rewards.svg
  resources/vectors/avion_rewards_alt_1.svg
  resources/vectors/burger_factory.svg
Labels: icons, compinfos

#1086 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/cloud_gallery.png
  contribs/icons/cloud_gallery.svg
  contribs/icons/dnsnet.png
  contribs/icons/dnsnet.svg
  contribs/icons/insta_eclipse.png
  contribs/icons/insta_eclipse.svg
  contribs/icons/ironfox.png
  contribs/icons/ironfox.svg
  contribs/icons/lotus.png
  contribs/icons/lotus.svg
  contribs/icons/micts.png
  contribs/icons/micts.svg
  contribs/icons/nothing_keyboard.png
  contribs/icons/nothing_keyboard.svg
  contribs/icons/shonenx.png
  contribs/icons/shonenx.svg
  contribs/icons/speakgpt.png
  contribs/icons/speakgpt.svg
  contribs/icons/suic_player.png
  contribs/icons/suic_player.svg
  contribs/icons/sunup.png
  contribs/icons/sunup.svg
  contribs/icons/zipxtract.png
  contribs/icons/zipxtract.svg
Labels: icons, compinfos

#1087 Add and update 14 icons
  contribs/icons.yml
  contribs/icons/_3steps.png
  contribs/icons/_3steps.svg
  contribs/icons/batch_uninstaller.png
  contribs/icons/batch_uninstaller.svg
  contribs/icons/catalone.png
  contribs/icons/catalone.svg
  contribs/icons/catalone2.png
  contribs/icons/catalone2.svg
  contribs/icons/catalone2_alt_1.png
  contribs/icons/catalone2_alt_1.svg
  contribs/icons/catalone_alt_1.png
  contribs/icons/catalone_alt_1.svg
  contribs/icons/innovestx.png
  contribs/icons/innovestx.svg
  contribs/icons/morprom.png
  contribs/icons/morprom.svg
  contribs/icons/myais_alt_1.png
  contribs/icons/myais_alt_1.svg
  contribs/icons/rama_app.png
  contribs/icons/rama_app.svg
  contribs/icons/thaid.png
  contribs/icons/thaid.svg
  contribs/icons/we_mahidol.png
  contribs/icons/we_mahidol.svg
  contribs/icons/xplore.png
  contribs/icons/xplore.svg
Labels: icons, compinfos

#1088 Add icons for WzSabre, Literal Word, and WatchDuty and CompInfo for Vantrue
  contribs/icons.yml
  contribs/icons/literalword.png
  contribs/icons/literalword.svg
  contribs/icons/watchduty.png
  contribs/icons/watchduty.svg
  contribs/icons/wzsabre.png
  contribs/icons/wzsabre.svg
Labels: icons, compinfos

#1089 3 new mappings and 10 new icons
  contribs/icons.yml
  contribs/icons/check_thailand_lottery.png
  contribs/icons/check_thailand_lottery.svg
  contribs/icons/easy_open_link.png
  contribs/icons/easy_open_link.svg
  contribs/icons/glo_lottery.png
  contribs/icons/glo_lottery.svg
  contribs/icons/gold_now.png
  contribs/icons/gold_now.svg
  contribs/icons/pptv_hd_36.png
  contribs/icons/pptv_hd_36.svg
  contribs/icons/talaadthai_online.png
  contribs/icons/talaadthai_online.svg
  contribs/icons/top_news.png
  contribs/icons/top_news.svg
  contribs/icons/true_iservice.png
  contribs/icons/true_iservice.svg
  contribs/icons/truevisions.png
  contribs/icons/truevisions.svg
  contribs/icons/tungngern.png
  contribs/icons/tungngern.svg
Labels: icons, compinfos

#1092 Add icons
  contribs/icons.yml
  contribs/icons/australiansuper.png
  contribs/icons/austrliansuper.svg
  contribs/icons/dismail.png
  contribs/icons/dismail.svg
  contribs/icons/edifier_connect.png
  contribs/icons/edifier_connect.svg
  contribs/icons/epic_freebie_games_radar.png
  contribs/icons/epic_freebie_games_radar.svg
  contribs/icons/imou_life.png
  contribs/icons/imou_life.svg
  contribs/icons/inshare.png
  contribs/icons/inshare.svg
  contribs/icons/music_party.png
  contribs/icons/music_party.svg
  contribs/icons/real_sports.png
  contribs/icons/real_sports.svg
  contribs/icons/verizon_cloud.png
  contribs/icons/verizon_cloud.svg
  resources/vectors/power_shortcut.svg
Labels: icons

#1094 refactoring & other stuff
  .github/scripts/bump_version.py
  .github/scripts/count_icons.py
  .github/scripts/create_changelog.py
  .github/scripts/optimize_images.sh
  .github/scripts/requirements.txt
  .github/workflows/build_all.yml
  app/build.gradle
  contribs/icons.yml
Labels: optimization, misc

#1096 Add icons & Update ComponentInfo
  contribs/icons.yml
  contribs/icons/peertube.png
  contribs/icons/peertube.svg
  contribs/icons/takesama.png
  contribs/icons/takesama.svg
  contribs/icons/wnn_keyboard_lab.png
  contribs/icons/wnn_keyboard_lab.svg
Labels: icons, compinfos

#1097 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/block_puzzle.png
  contribs/icons/block_puzzle.svg
  contribs/icons/mqtt_dashboard.png
  contribs/icons/mqtt_dashboard.svg
  contribs/icons/openscale_sync.png
  contribs/icons/openscale_sync.svg
  contribs/icons/paycom.png
  contribs/icons/paycom.svg
  contribs/icons/rakuten_travel.png
  contribs/icons/rakuten_travel.svg
  contribs/icons/sears.png
  contribs/icons/sears.svg
  contribs/icons/wallbyte_wallpapers.png
  contribs/icons/wallbyte_wallpapers.svg
Labels: icons, compinfos
