Repository Delta-Icons/android, pull requests merged in 2025-03, with the labels that each got.

#1122 Updated comp info
  contribs/icons.yml
Labels: compinfos

#1123 Componentinfo update
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1124 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/roblox.png
  app/src/main/res/drawable-nodpi/roblox_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/aone.png
  contribs/icons/aone.svg
  contribs/icons/jack_in_the_box_order_food.png
  contribs/icons/jack_in_the_box_order_food.svg
  contribs/icons/my_mqtt.png
  contribs/icons/my_mqtt.svg
  contribs/icons/mysynchrony.png
  contribs/icons/mysynchrony.svg
  contribs/icons/nothing_icon_pack_pro.png
  contribs/icons/nothing_icon_pack_pro.svg
  contribs/icons/notino.png
  contribs/icons/notino.svg
  contribs/icons/playlist_video_game_manager.png
  contribs/icons/playlist_video_game_manager.svg
  contribs/icons/pro_expense.png
  contribs/icons/pro_expense.svg
  contribs/icons/rocket_learn_languages.png
  contribs/icons/rocket_learn_languages.svg
  contribs/icons/smiths.png
  contribs/icons/smiths.svg
  contribs/icons/termux_gui.png
  contribs/icons/termux_gui.svg
  resources/vectors/roblox.svg
  resources/vectors/roblox_alt_1.svg
Labels: icons, compinfos

#1125 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/weverse.png
  app/src/main/res/drawable-nodpi/weverse_alt_1.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/_4910.png
  contribs/icons/_4910.svg
  contribs/icons/aladdin_internet_bookstore.png
  contribs/icons/aladdin_internet_bookstore.svg
  contribs/icons/banapresso.png
  contribs/icons/banapresso.svg
  contribs/icons/hotto_motto.png
  contribs/icons/hotto_motto.svg
  contribs/icons/ramen_yamaokaya.png
  contribs/icons/ramen_yamaokaya.svg
  contribs/icons/sweettracker.png
  contribs/icons/sweettracker.svg
  contribs/icons/tsuruha_drug.png
  contribs/icons/tsuruha_drug.svg
  resources/vectors/weverse.svg
  resources/vectors/weverse_alt_1.svg
Labels: icons, compinfos

#1126 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/superimage.png
  app/src/main/res/drawable-nodpi/superimage_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/a_twosome_place.png
  contribs/icons/a_twosome_place.svg
  contribs/icons/aladdin_ebook.png
  contribs/icons/aladdin_ebook.svg
  contribs/icons/atba.png
  contribs/icons/atba.svg
  contribs/icons/cosmo_the_gate.png
  contribs/icons/cosmo_the_gate.svg
  contribs/icons/grok.png
  contribs/icons/grok.svg
  contribs/icons/hyundai_card.png
  contribs/icons/hyundai_card.svg
  contribs/icons/kakao_taxi.png
  contribs/icons/kakao_taxi.svg
  contribs/icons/kb_pay.png
  contribs/icons/kb_pay.svg
  contribs/icons/mistral_ai.png
  contribs/icons/mistral_ai.svg
  contribs/icons/polito_students.png
  contribs/icons/polito_students.svg
  contribs/icons/serializd.png
  contribs/icons/serializd.svg
  contribs/icons/superimage_pro.png
  contribs/icons/superimage_pro.svg
  contribs/icons/utac.png
  contribs/icons/utac.svg
  contribs/icons/wongi_weather.png
  contribs/icons/wongi_weather.svg
  contribs/icons/woowa_brothers_delivery.png
  contribs/icons/woowa_brothers_delivery.svg
  contribs/icons/x_saver.png
  contribs/icons/x_saver.svg
  resources/vectors/superimage.svg
  resources/vectors/superimage_alt_1.svg
Labels: icons, compinfos

#1128 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/drogaria_arujo.png
  contribs/icons/drogaria_arujo.svg
  contribs/icons/iliturgia.png
  contribs/icons/iliturgia.svg
  contribs/icons/norton_password_manager.png
  contribs/icons/norton_password_manager.svg
  contribs/icons/norton_vpn.png
  contribs/icons/norton_vpn.svg
  contribs/icons/pocket_terco.png
  contribs/icons/pocket_terco.svg
  contribs/icons/raia.png
  contribs/icons/raia.svg
  contribs/icons/rosario.png
  contribs/icons/rosario.svg
  contribs/icons/upfoto.png
  contribs/icons/upfoto.svg
  contribs/icons/video_audio_remover.png
  contribs/icons/video_audio_remover.svg
  contribs/icons/video_downloader_gif_saver.png
  contribs/icons/video_downloader_gif_saver.svg
Labels: icons, compinfos

#1129 new stuff
  .github/scripts/add_icons_wrapper.py
  .github/workflows/check_conflicts.yml
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/mts_my_alt_1.png
  app/src/main/res/drawable-nodpi/pixel_xpert.png
  app/src/main/res/drawable-nodpi/vlc.png
  app/src/main/res/drawable-nodpi/vlc_benchmark.png
  app/src/main/res/drawable-nodpi/vlc_freemote.png
  app/src/main/res/drawable-nodpi/vlc_nightly.png
  app/src/main/res/drawable-nodpi/vlcfreemote.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/akbank.png
  contribs/icons/akbank.svg
  contribs/icons/kontur_talk.png
  contribs/icons/kontur_talk.svg
  contribs/icons/mts_my.png
  contribs/icons/mts_my.svg
  contribs/icons/vlc_bug.png
  contribs/icons/vlc_bug.svg
  resources/vectors/figma/vlc.svg
  resources/vectors/mts_my_alt_1.svg
  resources/vectors/pixel_xpert.svg
  resources/vectors/vlc.svg
  resources/vectors/vlc_benchmark.svg
  resources/vectors/vlc_freemote.svg
  resources/vectors/vlc_nightly.svg
  resources/vectors/vlcfreemote.svg
Labels: icons, compinfos, misc

#1130 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/abc_news.png
  app/src/main/res/drawable-nodpi/abc_news_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/foodyou.png
  contribs/icons/foodyou.svg
  contribs/icons/islandbanki.png
  contribs/icons/islandbanki.svg
  contribs/icons/jersey_mikes.png
  contribs/icons/jersey_mikes.svg
  contribs/icons/netbird_vpn.png
  contribs/icons/netbird_vpn.svg
  contribs/icons/root_checker.png
  contribs/icons/root_checker.svg
  contribs/icons/safeway_deals.png
  contribs/icons/safeway_deals.svg
  contribs/icons/waybetter.png
  contribs/icons/waybetter.svg
  contribs/icons/willhaben.png
  contribs/icons/willhaben.svg
  resources/vectors/abc_news.svg
  resources/vectors/abc_news_alt_1.svg
Labels: icons, compinfos

#1131 Appfilter update
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
Labels: compinfos

#1132 Add icon for Aftenposten
  contribs/icons.yml
  contribs/icons/aftenposten.png
  contribs/icons/aftenposten.svg
Labels: icons, compinfos

#1133 add icons and update compinfo
  contribs/icons.yml
  contribs/icons/railwire_subscriber.png
  contribs/icons/railwire_subscriber.svg
Labels: icons, compinfos

#1134 Add icons&compinfo
  contribs/icons.yml
  contribs/icons/_007_sport.png
  contribs/icons/_007_sport.svg
  contribs/icons/last_war_survival_game.png
  contribs/icons/last_war_survival_game.svg
  contribs/icons/lords_mobile_kingdom_wars.png
  contribs/icons/lords_mobile_kingdom_wars.svg
  contribs/icons/no_humanity.png
  contribs/icons/no_humanity.svg
  contribs/icons/pocket_chess.png
  contribs/icons/pocket_chess.svg
  contribs/icons/studyge.png
  contribs/icons/studyge.svg
  contribs/icons/superstar_jypnation.png
  contribs/icons/superstar_jypnation.svg
Labels: icons, compinfos

#1135 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/pix_material_you_light_dark.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/bridge_wallet.png
  contribs/icons/bridge_wallet.svg
  contribs/icons/kagi_search.png
  contribs/icons/kagi_search.svg
  contribs/icons/ncba_now.png
  contribs/icons/ncba_now.svg
  contribs/icons/otterai.png
  contribs/icons/otterai.svg
  contribs/icons/owlet_care.png
  contribs/icons/owlet_care.svg
  contribs/icons/pix_material_you.png
  contribs/icons/pix_material_you.svg
  contribs/icons/random_number_generator.png
  contribs/icons/random_number_generator.svg
  resources/vectors/pix_material_you_light_dark.svg
Labels: icons, compinfos

#1137 Add icons&compinfo
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/zappka.png
  app/src/main/res/drawable-nodpi/zappka_alt_1.png
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/autozen.png
  contribs/icons/autozen.svg
  contribs/icons/buffalo_wild_wings_ordering.png
  contribs/icons/buffalo_wild_wings_ordering.svg
  contribs/icons/devbytes.png
  contribs/icons/devbytes.svg
  contribs/icons/esso.png
  contribs/icons/esso.svg
  contribs/icons/john_lewis_partners.png
  contribs/icons/john_lewis_partners.svg
  contribs/icons/kiwi.png
  contribs/icons/kiwi.svg
  contribs/icons/myaudi.png
  contribs/icons/myaudi.svg
  contribs/icons/nexi_pay.png
  contribs/icons/nexi_pay.svg
  contribs/icons/rakuten_card.png
  contribs/icons/rakuten_card.svg
  contribs/icons/sacred_music.png
  contribs/icons/sacred_music.svg
  contribs/icons/sennheiser_smart_control_plus.png
  contribs/icons/sennheiser_smart_control_plus.svg
  contribs/icons/simpl.png
  contribs/icons/simpl.svg
  contribs/icons/timvision.png
  contribs/icons/timvision.svg
  contribs/icons/ubs_access.png
  contribs/icons/ubs_access.svg
  contribs/icons/webos_dev_manager.png
  contribs/icons/webos_dev_manager.svg
  resources/vectors/zappka.svg
  resources/vectors/zappka_alt_1.svg
Labels: icons, compinfos

#1138 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/res/xml/appfilter.xml
  contribs/icons.yml
  contribs/icons/adobe_air.png
  contribs/icons/adobe_air.svg
  contribs/icons/aerodocs.png
  contribs/icons/aerodocs.svg
  contribs/icons/appdash.png
  contribs/icons/appdash.svg
  contribs/icons/black_rock_coffee_bar.png
  contribs/icons/black_rock_coffee_bar.svg
  contribs/icons/comatose.png
  contribs/icons/comatose.svg
  contribs/icons/dominion.png
  contribs/icons/dominion.svg
  contribs/icons/efaas.png
  contribs/icons/efaas.svg
  contribs/icons/electrify_america.png
  contribs/icons/electrify_america.svg
  contribs/icons/essembl.png
  contribs/icons/essembl.svg
  contribs/icons/food_to_save.png
  contribs/icons/food_to_save.svg
  contribs/icons/newthings_widgets.png
  contribs/icons/newthings_widgets.svg
  contribs/icons/quicken_simplifi.png
  contribs/icons/quicken_simplifi.svg
  contribs/icons/rakuten_bank.png
  contribs/icons/rakuten_bank.svg
  contribs/icons/rammstein.png
  contribs/icons/rammstein.svg
  contribs/icons/sc_mobile_malaysia.png
  contribs/icons/sc_mobile_malaysia.svg
  contribs/icons/tidypanel.png
  contribs/icons/tidypanel.svg
  contribs/icons/ubs.png
  contribs/icons/ubs.svg
  contribs/icons/virtual_master.png
  contribs/icons/virtual_master.svg
  contribs/icons/weyay.png
  contribs/icons/weyay.svg
Labels: icons, compinfos

#1139 Add icons&compinfo
  app/src/main/assets/appfilter.xml
  app/src/main/assets/drawable.xml
  app/src/main/res/drawable-nodpi/john_lewis_partners.png
  app/src/main/res/drawable-nodpi/tuta_calendar.png
  app/src/main/res/drawable-nodpi/tuta_calendar_alt_1.png
  app/src/main/res/drawable-nodpi/tutanota.png
  app/src/main/res/drawable-nodpi/tutanota_alt_1.png
  app/src/main/res/drawable-nodpi/tutanota_alt_2.png
  app/src/main/res/xml/appfilter.xml
  app/src/main/res/xml/drawable.xml
  contribs/icons.yml
  contribs/icons/delta_hotspot.png
  contribs/icons/delta_hotspot.svg
  contribs/icons/fake_traveler.png
  contribs/icons/fake_traveler.svg
  contribs/icons/find_my_ip.png
  contribs/icons/find_my_ip.svg
  contribs/icons/karui_todo.png
  contribs/icons/karui_todo.svg
  contribs/icons/minimo_launcher.png
  contribs/icons/minimo_launcher.svg
  contribs/icons/readeck_app.png
  contribs/icons/readeck_app.svg
  resources/vectors/john_lewis_partners.svg
  resources/vectors/tuta_calendar.svg
  resources/vectors/tuta_calendar_alt_1.svg
  resources/vectors/tutanota.svg
  resources/vectors/tutanota_alt_1.svg
  resources/vectors/tutanota_alt_2.svg
Labels: icons, compinfos
